@using API.Helpers
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv


@model API.Models.IndexModel

@{
    ViewData["Title"] = "Check the visa requirements for your nationality for every country";
    ViewData["MetaDescription"] = "Actual checklists for a visa application, cost of visa fees. Last updates of COVID-19 travel requirements. Cost of tickets and accommodations.";
}

<header>

    <div id="introCarousel" class="carousel shadow-2-strong" data-mdb-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <video style="min-width: 100%; min-height: 100%" playsinline autoplay muted loop
                poster="bg-bike.jpg">
                    <source class="h-100"
                            src="/Bike_Trim.mp4"
                            type="video/mp4" />
                </video>

                <div class="mask" style="background-color: rgba(0, 0, 0, 0.35)">
                    <div class="d-flex justify-content-center align-items-center h-100 pt-4">
                        <div class="text-white text-center">
                            <h1>🌏 Glomad - be a global nomad</h1>

                            <div class="mt-4 pt-2 col-md-auto lead">
                                🛂Let's know where you can go with your passport easily. <br />
                                🎫 Check the visa requirements for your nationality for every country.<br />
                                🙋‍♀️ Country Frequently Asked Questions (FAQs) <br />
                                @*😷 Check last COVID-19 travel restrictions for a country. <br />*@
                                😎 Forget about visa headaches. Be ready to travel at any time.<br />
                                <partial name="_ShareExperience" />
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="container">
                    <div class="py-5 m-0 row">
                        <div class="col-sm-12 col-lg-8">

                            <h1 class="fade- text-white pb-4">🌏 Be Glomad</h1>

                            <div class="mb-3 col-lg-8 text-white lead">
                                Let's know where you can go with your 🛂 passport easily. <br />
                                Find visa requirements and needed 🎫 documents for countries.
                                <br />
                                Check last 😷 COVID-19 travel restrictions for a country. <br />
                                Forget about visa headaches. Be ready to travel at any time. 😎
                                <br />
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>

    
</header>

@*<partial name="_News" />*@

<section class="container pt-4">
    <div class="row g-3" id="filters" onload="buildLink()">

    <div class="col-md-3">
    @*@{
        int prevPrior = 0;
        bool newSelect = true;
        foreach (var item in VisaSearchCriteria.Criterias)
        {
            if (item.Value.Value != prevPrior) {
                if(newSelect){
                    <select aria-label="State" class="form-select" data-prior=0 onChange="selectFilter(this);"></select>
                    newSelect = false;
                }
            }
            prevPrior = item.Value.Value;
        }
    }*@

        <select aria-label="State" class="form-select" data-prior=0 onChange="selectFilter(this);">
            <option value="" disabled selected>💳 Visa type</option>
            <option value="for-nomads">Nomad</option>
            <option value="for-tourist">Tourist</option>
            <option value="for-startup">Startup</option>
            <option value="for-business">Business</option>
            <option value="for-student">Student</option>
            <option value="for-work">Work</option>
        </select>
    </div>

    <div class="col-md-3">
        <select class="form-select" data-prior=1 onChange="selectFilter(this);">
            <option value="" disabled selected>⏳ Duration</option>
            <option value="short-stay">One month</option>
            <option value="middle-stay">2+ months</option>
            <option value="long-stay">6+ months</option>
            <option value="for-expats">1+ year</option>
        </select>
    </div>

    <div class="col-md-3">
        <select class="form-select" data-prior=2 onChange="selectFilter(this);">
            <option value="" disabled selected>🤑 Monthly income</option>
            <option value="low-income">&lt; $1500</option>
            <option value="middle-income">&lt; $4000</option>
            <option value="high-income">&lt; $10000</option>
        </select>
    </div>

    <div class="col-md-3">
    <select class="form-select" data-prior=3 onChange="selectFilter(this);">
        <option value="" disabled selected>✨ Some details</option>
        <option value="are-extendable">Extendable visa</option>
        <option value="not-renewed">Not renewed visa</option>
        @*<option value="no-criminal-need">No need criminal records</option>
        <option value="no-avia-tickets">No need tickets</option>
        <option value="no-accomodation-proof">No need proof of accomadation</option>
        <option value="no-finance-proof">No need proof of finance</option>
        <option value="no-insuranse">No need health insuranse</option>*@
    </select>
    </div>

    </div>

    <div class="my-3" id="criterias">
        @{
            if(Model.Query != null){
            try {
                var slugs = Model.Query.Split(new string[] { "-and-", "-or-"}, StringSplitOptions.None);
                foreach (var s in slugs)
                {
                                                    <span id="span-Tourist" class="cursor-out p-2 ps-3 me-2 badge rounded-pill text-dark border border-1 shadow-sm"
                                                        data-prior="@VisaSearchCriteria.Criterias[s].Value" 
                                                        onclick="remove(this)"
                                                        title="for-tourist">
                                                        @VisaSearchCriteria.Criterias[s].Key
                                                        <img src="../css/times-circle.svg" alt="Remove this filter" class="remove-filter">
                                                    </span>
                }
                                                <span id="span-clear-filters" onclick="clearFilters()"
                                                    class="cursor-out p-2 ps-3 me-2 badge rounded-pill bg-danger border border-1 shadow-sm">
                                                    Clear filters
                                                    <img src="../css/times-circle.svg" alt="Clear filters" class="remove-filter">
                                                </span>
            }
            catch (Exception e) {}
            }
        }
    </div>

    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12" id="res">
            @if(Model.Visas?.Count > 0) {
            @await Component.InvokeAsync("VisaSearchResult", Model.Visas)
            }
        </div>

        <template id="loader">
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text skeleton-footer"></div>
        </template>

        <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="position-sticky" style="top: 2rem;">

            <div id="noVisaCountry" class="p-3 mb-3 bg-white border rounded-booking">                    
                @*@await Component.InvokeAsync("NoVisaCountries")*@
            </div>

            @await Html.PartialAsync("_SubscribeUpdates")

            <div class="mb-3 bg-white" id="bookingW">
                    <script src="//tp.media/content?currency=usd&promo_id=4044&shmarker=14510&campaign_id=100&trs=21653&target_host=search.jetradar.com&locale=en_us&limit=6&powered_by=false&destination=@ViewBag.MyCountry" charset="utf-8"></script>
                @*<script src="https://tp.media/content?currency=usd&promo_id=4041&shmarker=14510&campaign_id=100&trs=21653&searchUrl=search.jetradar.com&locale=en_us&powered_by=false&one_way=true&only_direct=false&period=year&range=7%2C21&primary=%230C73FE&color_background=%23ffffff&achieve=%2345AD35&dark=%23000000&light=%23FFFFFF&origin=@ViewBag.MyCountry" charset="utf-8"></script>*@
            </div>

            </div>
        </div>
    </div>
</section>


@*@if (Model.Visas?.Count > 0)
{
    <section class="container pt-4">

        @if (string.IsNullOrEmpty(Model.PassportCountryName))
        {
            <h2 class="pb-2 text-center">
                💳 List of actual <a class="text-decoration-none" href="/@Model.ToCountryName">@Model.ToCountryName</a> visas
            </h2>
        }
        else
        {
            <h2 class="pb-2 text-center">
                💳 @Model.Visas.Count <a class="text-decoration-none" href="/@Model.ToCountryName">@Model.ToCountryName</a> visas available for citizens of <a class="text-decoration-none" href="/@Model.PassportCountryName">@Model.PassportCountryName</a>
            </h2>
        }

        @if (Model.NoVisaEntry != null)
            {
                <div class="row mb-3 rounded-3 border shadow-sm bg-info bg-gradient">
                    <div class="col-md-3 p-3">
                        <p class="card-title text-white align-middle pb-3 fw-bold">Visa-free entry</p>
                        @if (Model.NoVisaEntry.IsEVisaAvailable)
                        {
                            <p>
                                <a href="@Model.NoVisaEntry.EVisaUrl" target="_blank" rel="noopener nofollow noreferrer">
                                    <span class="m-2 badge rounded-pill bg-warning text-dark">💻 With E-Visa 👈</span>
                                </a>
                            </p>
                        }
                    </div>
                    <div class="col-md-9 p-3">
                        @if(Model.NoVisaEntry.Duration > 0)
                        {
                            <p class="align-middle rounded-3 py-2 px-3 bg-white-opacy">
                                🙌 @(Model.PassportCountryName + " сitizens" ?? "Сitizens of " + Model.PassportCountryName) can stay in the @Model.ToCountryName @Model.NoVisaEntry.Duration days without visa.
                            </p>
                        }
                        <p class="align-middle rounded-3 py-2 px-3 bg-white-opacy">
                            ℹ @Model.NoVisaEntry.Description.StripHTML()
                        </p>
                    </div>
                </div>
            }

        @foreach (var visa in Model.Visas)
        {
            @await Component.InvokeAsync("VisaRow", visa)
        }

    </section>
}*@


@if (Model.To > 0)
{
    <section class="container pt-4">
        <h2 class="pb-2 text-center">
            Cheap tickets from
            <a href="/@Model.PassportCountryName">@Model.PassportCountryName</a> to <a href="/@Model.ToCountryName">@Model.ToCountryName</a>
        </h2>
        <div class="py-2">
            <div class="p-3 bg-light rounded-3">
                <script src="https://tp.media/content?currency=usd&promo_id=4041&shmarker=14510&campaign_id=100&trs=21653&searchUrl=search.jetradar.com&locale=en_us&powered_by=false&one_way=true&only_direct=false&period=year&range=7%2C21&primary=%230C73FE&color_background=%23ffffff&achieve=%2345AD35&dark=%23000000&light=%23FFFFFF&origin=@Model.PassportCapitalCode&destination=@Model.ToCapitalCode" charset="utf-8"></script>
            </div>
        </div>
    </section>
}


@*@if (Model.CovidInfo != null)
{
    <section class="container pt-4">
        <h2 class="pb-2 text-center">🦠 @Model.ToCountryName COVID-19 travel requirements</h2>
        <div class="mb-3" style="height:400px; overflow-y: auto;">@Html.Raw(@Model.CovidInfo)</div>
    </section>
}*@

@if (Model.FreeCountries?.Count > 0)
{
    <section class="container pt-4">
        <h2 class="pb-2 text-center">🛂 Free entry with passport of <a href="/@Model.PassportCountryName">@Model.PassportCountryName</a></h2>
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">

            @{
                int count = 0;
            }
            @foreach (var c in Model.FreeCountries)
            {
                if (count == 3)
                {
                    <div class="col">
                        <a href="https://safetywing.com?referenceID=24744359&utm_source=24744359&utm_medium=Ambassador" rel="noopener nofollow noreferrer">
                            <div class="card bg-dark text-white border-0 rounded-5 card-cover shadow-lg" style="background-image: url('../safetywind_300.jpg');">
                                <div class="card-img-overlay text-center">
                                    <h3 class="card-title shadowed mt-5 lh-1 fw-bold">Global travel medical insurance</h3>
                                    <p class="m-1 badge rounded-pill bg-info text-dark">for $1.5/day!</p>
                                    <p class="m-1 badge rounded-pill bg-warning text-dark">Covid-19 coverage</p>
                                </div>
                            </div>
                        </a>
                    </div>
                };
                count++;

                <div class="col">
                    <a href="/@c.Name">
                        @{
                            var countryImage = c.Name.ToLower();
                            var path2 = System.IO.Path.Combine(hostingEnv.WebRootPath, countryImage + ".jpg");
                            if (!System.IO.File.Exists(path2))
                            {
                                countryImage = "nocover";
                            }
                        }
                        <div class="card bg-dark text-white border-0 rounded-5 card-cover shadow-lg" style="background-image: url('../@(countryImage)_300.jpg');">
                            @*<img src="../@(countryImage).jpg" class="img-fluid rounded-5" srcset="../@(countryImage)_300.jpg 384w, ../@(countryImage).jpg 1920w" sizes="50vw" alt="@c.Name image">*@
                            <div class="card-img-overlay">
                                @if (c.EVisaAvailable)
                                {
                                    <span class="position-absolute top-0 start-0 m-2 badge rounded-pill bg-warning text-dark">💻 With E-Visa</span>
                                }

                                <h3 class="card-title shadowed text-center align-middle mt-5 mb-4 lh-1 fw-bold">@c.Name</h3>
                                <span class="position-absolute bottom-0 start-0 m-2 badge rounded-pill bg-light text-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="@c.Details">👉 Details</span>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </section>
}

<partial name="_Nomad" />

<section class="container pt-4">
    <h2 class="text-center pb-2">... what else you most interested in ❓</h2>

    <div class="col-md-10 mx-auto col-lg-8">
        <p class="mb-4 card-text text-secondary fs-5">
            👉 We are working on new directions continuously. 
            Please share with us which countries are most interesting to you. 
            We are glad to help you prepare for your amazing travels.
        </p>

        <form class="p-4 p-md-5 border rounded-3 bg-light" id="feedback" method="post"
              asp-action="CreateFeedback">
            <div class="mb-3">
                <select id="CountryId" class="form-select" asp-items="@ViewBag.Countries">
                    <option disabled selected value="0">Select country</option>
                </select>
            </div>

            <div class="mb-3">
                <textarea class="form-control" placeholder="Leave you comment here" id="Message" style="height: 100px"></textarea>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <input type="email" id="Email" class="form-control" placeholder="email" />
                </div>
                <div class="col-6">
                    <input type="text" id="Username" class="form-control" placeholder="Your name (optional)" />
                </div>
            </div>
            
            <div class="checkbox mb-3">
                <label>
                    <input id="IsNotify" type="checkbox" checked /> Notify me about updates
                </label>
            </div>
            <input class="w-100 btn btn-lg btn-primary" type="button" onclick="FeedbackSubmit()" value="Thank you ✌" />

            <h3 id="status" class="text-center"></h3>
        </form>
    </div>
</section>

<div id="ShareExpForm" tabindex="-1" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Share your experience</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-2">
                        <input type="email" id="Email" class="form-control" placeholder="email (optional)" />
                    </div>

                    <div class="mb-2">
                        <textarea class="form-control" id="Message" style="height: 200px" placeholder="Please share your experience. What kind of visa did you apply for and how long ago? Were you satisfied with the process of applying for a visa?"></textarea>
                    </div>
                </form>
                <span class="lead fw-5" id="status"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ShareExpSubmit()">Send</button>
            </div>
        </div>
    </div>
</div>

@*<partial name="_Pricing" />*@

@section Scripts {
    <script>
        $(function() {




            $('#exampleModal').bind('show.bs.modal', function(event) {
                // Button that triggered the modal
                var button = event.relatedTarget
                // Extract info from data-bs-* attributes
                var title = button.getAttribute('data-bs-title')
                var details = button.getAttribute('data-bs-details')
                $('#exampleModal .modal-title').text(title);
                $('#exampleModal #details').text(details);
            })
        });

        function PriceSubmit() {
            var plan = new Object();
            plan.name = $('#exampleModal .modal-title').text();
            plan.username = $('#exampleModal #username').val();
            plan.email = $('#exampleModal #email').val();
            plan.details = $('#exampleModal #info').val();

            $.ajax({
                type: 'POST',
                url: "/SelectPrice",
                data: JSON.stringify(plan),
                dataType: 'html',
                contentType: "application/json"
            })
                .done(function(response) {
                    $("#exampleModal #status").text("Thank you 🤝 We will contact you soon!")
                })
                .fail(function(response) {
                    $("#exampleModal #status").text("😥 Something went wrong. But pleace check your email")
                });
        }

        function FeedbackSubmit() {
            //Set the URL.
            var url = $("#feedback").attr("action");

            var fb = new Object();
            fb.username = $('#feedback #Username').val();
            fb.email = $('#feedback #Email').val();
            fb.countryid = $('#feedback #CountryId').val();
            fb.isnotify = $('#feedback #IsNotify').is(":checked");

            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(fb),
                dataType: 'html',
                contentType: "application/json",
                success: function() {
                    console.log("success", arguments);
                    $("#feedback #status").text("Got it! Thank you 👌")
                },
                error: function() {
                    console.log("error", arguments);
                    $("#feedback #status").text("😣 Something went wrong. Please try again.")
                },
                complete: function() {
                    console.log("complete", arguments);
                }
            }).done(function() {
                console.log("done", arguments);
            });
        }
    </script>
}