@model API.Models.IndexModel

@{
    ViewData["Title"] = "How to get a visa easily anywhere?";
    ViewData["MetaDescription"] = "Actual checklists for a visa application, cost of visa fees. Last updates of COVID-19 travel requirements. Cost of tickets and accommodations.";
}

<header>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="py-5 m-0 row">
                    <div class="col-sm-12 col-lg-8">
                        <h1 class="display-5 fw-bold text-white pb-4">
                            🌏 Be Glomad <i class="flag flag-united-states"></i>
                        </h1>

                        <div class="mb-3 col-lg-8 text-white fs-5 lead fw-lighter">
                            Let's know where you can go with your 🛂 passport easily. <br />
                            Find visa requirements and needed 🎫 documents for countries.
                            <br />
                            Check last 😷 COVID-19 travel restrictions for a country. <br />
                            Forget about visa headaches. Be ready to travel at any time. 😎
                            <br />
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-4">
                        <form method="get">
                            <div class="mb-3">
                                <label for="citizenship" class="form-label text-white">Your citizenship</label>
                                <select id="CitizenshipId"
                                        class="form-select form-select-lg"
                                        asp-for="Passport"
                                        asp-items="@ViewBag.Countries">
                                    <option disabled value="0">Your national passport</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="destinaion" class="form-label text-white">Destination country</label>
                                <select id="Destinaion"
                                        class="form-select form-select-lg"
                                        asp-for="To" asp-items="@ViewBag.ToCountries">
                                    <option disabled value="0">Destination country</option>
                                </select>
                            </div>

                            <button type="submit" class="w-100 btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold">
                                Search 👇
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

@if (Model.Visas != null || Model.VisasNonEntry != null)
{
    <section class="container my-5">

        <h2 class="mb-5 fw-bold text-center">
            💳 Here are the types of visas available to visit <a href="/@Model.ToCountryName">@Model.ToCountryName</a>
        </h2>

        @if (Model.Visas != null)
        {
            @foreach (var visa in Model.Visas)
            {
                <div class="py-2">
                    <div class="p-3 bg-light rounded-3">
                        <div class="container-fluid">
                            <h5 class="fw-bold">@visa.VisaName</h5>
                            <div class="col-md-12 fs-6">@Html.Raw(visa.Description)</div>
                            @if (visa.IsExdendable)
                            {
                                <span class="badge badge-card bg-info text-dark m-2 fs-6">
                                    ✨ Extendable
                                </span>
                            }
                            @if (visa.Duration != null && visa.Duration > 0)
                            {
                                <span class="badge badge-card bg-info text-dark m-2 fs-6">
                                    🕜 Duration @visa.Duration days
                                </span>
                            }
                        </div>
                    </div>
                </div>
            }
        }

        @if (Model.VisasNonEntry != null)
        {
            @foreach (var nonEntry in Model.VisasNonEntry)
            {
                <div class="py-2">
                    <div class="p-3 bg-light rounded-3">
                        <div class="container-fluid">
                            <h5 class="fw-bold">@nonEntry.VisaName</h5>
                            <div class="col-md-12">@Html.Raw(nonEntry.Description)</div>

                            @if (@nonEntry.IsExdendable)
                            {
                                <span class="badge badge-card bg-info text-dark m-2 fs-6">
                                    ✨ Extendable
                                </span>
                            }

                            <span class="badge badge-card bg-info text-dark m-2 fs-6">
                                🕜 Duration @nonEntry.Duration days
                            </span>
                        </div>
                    </div>
                </div>
            }
        }

    </section>
}


@if (Model.To > 0)
{
    <section class="container my-5">
        <h2 class="mb-5 fw-bold text-center">Cheap tickets from @Model.PassportCountryName to @Model.ToCountryName</h2>
        <div class="py-2">
            <div class="p-3 bg-light rounded-3">
                <script src="https://tp.media/content?currency=usd&promo_id=4041&shmarker=14510&campaign_id=100&trs=21653&searchUrl=search.jetradar.com&locale=en_us&powered_by=false&one_way=true&only_direct=false&period=year&range=7%2C21&primary=%230C73FE&color_background=%23ffffff&achieve=%2345AD35&dark=%23000000&light=%23FFFFFF&origin=@Model.PassportCapitalCode&destination=@Model.ToCapitalCode" charset="utf-8"></script>
            </div>
        </div>
    </section>
}


@if (Model.CovidInfo != null)
{
    <section class="container -py-4 my-5">
        <h2 class="mb-5 fw-bold text-center">🦠 @Model.ToCountryName COVID-19 travel requirements</h2>
        <div class="p-3" style="height:400px; overflow-y: auto;">@Html.Raw(@Model.CovidInfo)</div>
    </section>
}


<partial name="_Monitoring" />

<section class="container mb-5">
    <h2 class="mb-5 text-center">
        <strong>... what else you most interested in ❓</strong>
    </h2>

    <div class="col-md-10 mx-auto col-lg-8">
        <p class="mb-4 card-text text-secondary fs-5">
            👉 We are interested in offering you reliable information. Data about
            Thailand is ready and we are working on new directions. Please share
            with us which destinations are most delightful. We are glad to help you
            prepare for your amazing travels.
        </p>

        <form class="p-4 p-md-5 border rounded-3 bg-light" id="feedback" method="post"
               asp-action="CreateFeedback">
            <div class="form-floating mb-3">
                <select id="CountryId" class="form-select" asp-items="@ViewBag.Countries">
                    <option disabled selected value="0">Select country</option>
                </select>
            </div>

            <div class="form-floating mb-3">
                <input type="email"
                       id="Email"
                       class="form-control"
                       placeholder="name@example.com" />
                <label>Email address</label>
                <span class="text-muted">(Optional)</span>
            </div>
            <div class="form-floating mb-3">
                <input type="text"
                       id="Username"
                       class="form-control"
                       placeholder="Your name" />
                <label>Your name</label>
                <span class="text-muted">(Optional)</span>
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input id="IsNotify" type="checkbox" checked /> Notify
                    me about data update
                </label>
            </div>
            <input class="w-100 btn btn-lg btn-primary" type="button" onclick="FeedbackSubmit()" value="Thank you ✌" />

            <h3 id="status" class="text-center"></h3>
        </form>
    </div>
</section>

<partial name="_Pricing" />

@section Scripts {
    <script>
        $(function () {
            $('#exampleModal').bind('show.bs.modal', function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget
                // Extract info from data-bs-* attributes
                var title = button.getAttribute('data-bs-title')
                var details = button.getAttribute('data-bs-details')
                $('#exampleModal .modal-title').text(title);
                $('#exampleModal #details').text(details);
            })
        });

        function PriceSubmit() {
            var plan = new Object();
            plan.name = $('#exampleModal .modal-title').text();
            plan.username = $('#exampleModal #username').val();
            plan.email = $('#exampleModal #email').val();
            plan.details = $('#exampleModal #info').val();

            $.ajax({
                type: 'POST',
                url: "/SelectPrice",
                data: JSON.stringify(plan),
                dataType: 'html',
                contentType: "application/json"
            })
                .done(function (response) {
                    $("#exampleModal #status").text("Thank you 🤝 We will contact you soon!")
                })
                .fail(function (response) {
                    $("#exampleModal #status").text("😥 Something went wrong. But pleace check your email")
                });
        }

        function FeedbackSubmit() {
            //Set the URL.
            var url = $("#feedback").attr("action");

            var fb = new Object();
            fb.username = $('#feedback #Username').val();
            fb.email = $('#feedback #Email').val();
            fb.countryid = $('#feedback #CountryId').val();
            fb.isnotify = $('#feedback #IsNotify').is(":checked");

            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(fb),
                dataType: 'html',
                contentType: "application/json",
                success: function () {
                    console.log("success", arguments);
                    $("#feedback #status").text("Got it! Thank you 👌")
                },
                error: function () {
                    console.log("error", arguments);
                    $("#feedback #status").text("😣 Something went wrong. Please try again.")
                },
                complete: function () {
                    console.log("complete", arguments);
                }
            }).done(function () {
                console.log("done", arguments);
            });
        }
    </script>
}