@model API.Models.IndexModel

@{
    ViewData["Title"] = "How to get a visa easily anywhere?";
    ViewData["MetaDescription"] = "Actual checklists for a visa application, cost of visa fees. Last updates of COVID-19 travel requirements. Cost of tickets and accommodations.";
}

<header>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="py-5 m-0 row">
                    <div class="col-sm-12 col-lg-8">
                        <h1 class="display-5 fw-bold text-white pb-4">
                            🌏 Be Glomad <i class="flag flag-united-states"></i>
                        </h1>

                        <div class="mb-3 col-lg-8 text-white fs-5 lead fw-lighter">
                            Let's know where you can go with your 🛂 passport easily. <br />
                            Find visa requirements and needed 🎫 documents for countries.
                            <br />
                            Check last 😷 COVID-19 travel restrictions for a country. <br />
                            Forget about visa headaches. Be ready to travel at any time. 😎
                            <br />
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-4">
                        <form method="get">
                            <div class="mb-3">
                                <label for="citizenship" class="form-label text-white">Your citizenship</label>
                                <select id="CitizenshipId"
                                        class="form-select form-select-lg"
                                        asp-for="Passport"
                                        asp-items="@ViewBag.Countries">
                                    <option disabled value="">Your citizenship</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="destinaion" class="form-label text-white">Destination country</label>
                                <select id="Destinaion"
                                        class="form-select form-select-lg"
                                        asp-for="To">
                                    <option selected="selected" value="220">Thailand</option>
                                    <option value="181">Russia</option>
                                </select>
                            </div>

                            <button type="submit" class="w-100 btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold">
                                Search 👇
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

@if (Model.Visas != null || Model.VisasNonEntry != null)
{
    <section class="container my-5">

        <h2 class="fw-bold text-center">
            💳 Here are the types of visas available to visit
            <a href="/Thailand">Thailand</a>
        </h2>

        <br />

        @if (Model.Visas != null)
        {
            @foreach (var visa in Model.Visas)
            {
                <div class="py-2">
                    <div class="p-3 bg-light rounded-3">
                        <div class="container-fluid">
                            <h5 class="fw-bold">@visa.VisaName</h5>
                            <p class="col-md-12 fs-6">@visa.Description</p>
                        </div>
                    </div>
                </div>
            }
        }

        @if (Model.VisasNonEntry != null)
        {
            @foreach (var nonEntry in Model.VisasNonEntry)
            {
                <div class="py-2">
                    <div class="p-3 bg-light rounded-3">
                        <div class="container-fluid">
                            <h5 class="fw-bold">@nonEntry.VisaName</h5>
                            <p class="col-md-12">@nonEntry.Description</p>

                            @if (@nonEntry.IsExdendable)
                            {
                                <span class="badge badge-card bg-info text-dark m-2 fs-6">
                                    ✨ Extendable
                                </span>
                            }

                            <span class="badge badge-card bg-info text-dark m-2 fs-6">
                                🕜 Duration @nonEntry.Duration days
                            </span>
                        </div>
                    </div>
                </div>
            }
        }

    </section>
}


@if (Model.Passport > 0)
{
    <section class="container my-5">
        <h2 class="mb-5 fw-bold text-center">Cheap tickets to Thailand</h2>
        <div class="py-2">
            <div class="p-3 bg-light rounded-3">
                <script src="https://tp.media/content?currency=usd&promo_id=4041&shmarker=14510&campaign_id=100&trs=21653&searchUrl=search.jetradar.com&locale=en_us&powered_by=false&one_way=true&only_direct=false&period=year&range=7%2C21&primary=%230C73FE&color_background=%23ffffff&achieve=%2345AD35&dark=%23000000&light=%23FFFFFF&origin=@Model.PassportCapitalCode&destination=BKK" charset="utf-8"></script>
            </div>
        </div>
    </section>
}


@if (Model.CovidInfo != null)
{
    <section class="container -py-4 my-5">
        <h2 class="mb-5 fw-bold text-center">🦠 Thailand COVID-19 travel requirements</h2>
        <div class="p-3" style="height:400px; overflow-y: auto;">@Html.Raw(@Model.CovidInfo)</div>
    </section>
}


<partial name="_Monitoring" />
<partial name="_Feedback" />
<partial name="_Pricing" />

@section Scripts {
    <script>
        $(function () {
            $('#exampleModal').bind('show.bs.modal', function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget
                // Extract info from data-bs-* attributes
                var title = button.getAttribute('data-bs-title')
                var details = button.getAttribute('data-bs-details')
                $('#exampleModal .modal-title').text(title);
                $('#exampleModal #details').text(details);
            })
        });

        function PriceSubmit() {
            var plan = new Object();
            plan.plannumber = 1;
            plan.username = $('#exampleModal #username').val() + " " + $('#exampleModal .modal-title').val();
            plan.email = $('#exampleModal #email').val();
            plan.details = $('#exampleModal #details').val();

            $.ajax({
                type: 'POST',
                url: "/SelectPrice",
                data: JSON.stringify(plan),
                dataType: 'json',
                contentType: "application/json",
                success: function (response) {
                    if (response != null) {
                        $("#exampleModal #status").text("Thank you 🤝 We will contact you soon!")
                        //alert("SUCCESS = Name : " + response.Name + ", Designation : " + response.Designation + ", Location :" + response.Location);
                    } else {
                        $("#exampleModal #status").text("😣 Something went wrong. Please try again.")
                    }
                },
                failure: function (response) {
                    $("#exampleModal #status").text("😣 Something went wrong. Please try again.")
                },
                error: function (response) {
                    $("#exampleModal #status").text("😣 Something went wrong. Please try again.")
                }
            })
        }
    </script>
}