@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv

@model HeaderViewModel

@{
    string bgimage = Model.CountryName.ToLower() + ".jpg";
    var path = System.IO.Path.Combine(hostingEnv.WebRootPath, bgimage);
    if (!System.IO.File.Exists(path))
    {
        bgimage = "nocover.jpg";
    }
}

<div class="hero-bg px-4 py-5 text-white text-center" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url('/@bgimage');">
    <h1 class="text-white py-4 fw-bold display-4">
        @if (string.IsNullOrEmpty(Model.VisaName))
        {
            
            <a class="text-white" href="/">
                <div class="logo-box"></div>
            </a>
            <span class="carousel-control-next-icon"></span>
            @Model.CountryName
        }
        else
        {
            <a class="text-white" href="/">
                <div class="logo-box"></div>
            </a>
            <span class="carousel-control-next-icon"></span>
            <a class="text-white" href="/@Model.CountryName">@Model.CountryName</a>
            <span class="carousel-control-next-icon"></span>
            <a class="text-white" href="">@Model.VisaName</a>
        }
    </h1>

    <h2 class="fw-bold">Your citizen passport is:</h2>
    <cache expires-after="@TimeSpan.FromMinutes(60)">
        @await Component.InvokeAsync("Menu")
    </cache>

    @if(!string.IsNullOrEmpty(@Model.Text)) {
        <p class="container custom-scrollbar Gcontainer col-lg-8 mx-auto col-lg-8 col-sm-12 mx-auto rounded-3 p-3 mt-3 bg-black-opacy">
            @Model.Text.Trim()
        </p>
    }
    
    @if (Model.LastUpdate != null)
    {
        <h6 class="col-lg-8 mx-auto shadowed">
            Last Update @Model.LastUpdate
        </h6>
    }

</div>

@*<partial name="_News" />*@