@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv

@model CovidPage

@{
    ViewData["Title"] = $"{Model.Header.CountryName} COVID-19 travel restrictions, quarantine and entry requrements. Last update {Model.Country.UpdateDate}.";
    ViewData["MetaDescription"] = $"Up-to-date info on COVID-19 travel restrictions for {Model.Header.CountryName}. Explore entry and quarantine requirements for {Model.Header.CountryName} in {DateTime.Now.Year}. What are covid restrictions in {Model.Country.Name} now.";
    ViewData["Canonical"] = $"https://glomad.net/{Model.Header.CountryName}/Covid";
}

@await Html.PartialAsync("_Header", Model.Header)

<section class="container py-3">

    @await Html.PartialAsync("_Menu", Model.Header.CountryName)

    <h2 class="text-center p-4">🦠 @Model.Header.CountryName COVID-19 travel requirements</h2>

    <h4 class="text-center p-4">✅ List of approved vaccines in @Model.Header.CountryName</h4>
    <div class="row -row-cols-auto d-flex justify-content-center">
        @foreach (var v in ApprovedVaccines.Vaccines.Where(v => Model.ApprovedVaccines.Contains(v.Key)))
        {
            <div class="-col col-12 col-sm-6 col-xl-2 col-md-4 text-center">
                <div class="rounded-5 shadow-lg p-3 m-2" style="background-color: #fafcfd;">
                    @v.Value
                </div>
            </div>
        }
    </div>

    <h4 class="text-center p-4">⚠ Current restrictions in @Model.Header.CountryName</h4>
    <table class="table table-borderless m-0 table-autowidth">
        <tbody>
            <tr>
                <td>Updated: @Model.AmadeusTravelRestrictions.data.areaAccessRestriction.mask.date</td>
                <td>😷 Mask wearing - @Model.AmadeusTravelRestrictions.data.areaAccessRestriction.mask.isRequired</td>
                <td>@Html.Raw(Model.AmadeusTravelRestrictions.data.areaAccessRestriction.mask.text)</td>
            </tr>

            <tr>
                <td>Updated: @Model.AmadeusTravelRestrictions.data.areaAccessRestriction.transportation.date</td>
                <td>🚎 Transport banned - @Model.AmadeusTravelRestrictions.data.areaAccessRestriction.transportation.isBanned</td>
                <td>@Html.Raw(Model.AmadeusTravelRestrictions.data.areaAccessRestriction.transportation.text)</td>
            </tr>
        </tbody>
    </table>
    @foreach (var area in Model.AmadeusTravelRestrictions.data.areaRestrictions)
    {
        <h4>@area.restrictionType from @area.date</h4>
        <p>@Html.Raw(area.text)</p>
    }

    <h4 class="text-center p-4">⚠ Current covid restrictions in @Model.Header.CountryName</h4>
    <div class="row row-cols-auto d-flex justify-content-center">
        @foreach (var v in Model.Restrictions)
        {
            string Restriction, Level;
            try
            {
                CovidRestrictions.Restrictions.TryGetValue(v.Key, out Restriction);
                CovidRestrictions.Levels[v.Key].TryGetValue(v.Value, out Level);
                <div class="col text-center">
                    <div class="rounded-5 shadow-lg p-3 m-2 @("c" + v.Value)">
                        @Restriction – @Level
                    </div>
                </div>
            }
            catch (Exception e)
            {
            }
        }
    </div>


    @*<h4 class="text-center pt-5">🧾 Entry conditions</h4>
        <div class="p-3">@Html.Raw(Model.Covid)</div>*@

</section>