@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv

@model EmbassiesPage

@{
    ViewData["Title"] = String.IsNullOrEmpty(Model.Country.Citizen) ? $"List of Embassies and Consulates of {Model.Country.Name} around the world in {DateTime.Now.Year}." : $"List of {Model.Country.Citizen} Embassies and Consulates around the world in {DateTime.Now.Year}.";
    ViewData["MetaDescription"] = $"{Model.Country.Name} embassies and consulates in different countries in {DateTime.Now.Year}. Find the needed embassy of {Model.Country.Name} and its information. Addresses, telephone numbers, email addresses, websites, opening hours.";
    ViewData["Canonical"] = $"https://glomad.net/{Model.Header.CountryName}/Embassies";
}

@await Html.PartialAsync("_Header", Model.Header)
@await Html.PartialAsync("_Menu", Model.Header.CountryName)


<section class="container sectionstyle">

    <h2 class="text-center p-4">🏢 List of @Model.Header.CountryName embassies</h2>

    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        @foreach (var e in Model.Embassies)
        {
            <div class="col">
                <a href="/@Model.Header.CountryName/Embassy/@e.Id">
                    @{
                        var countryImage = @e.Country.ToLower();
                        var path2 = System.IO.Path.Combine(hostingEnv.WebRootPath, countryImage + ".jpg");
                        if (!System.IO.File.Exists(path2))
                        {
                            countryImage = "nocover";
                        }
                    }
                    <div class="card bg-dark text-white border-0 rounded-5 card-cover shadow-lg" style="background-image: url('../@(countryImage)_300.jpg');">
                        @*<img src="../@(countryImage).jpg" class="img-fluid rounded-5" srcset="../@(countryImage)_300.jpg 384w, ../@(countryImage).jpg 1920w" sizes="50vw" alt="@c.Name image">*@
                        <div class="card-img-overlay">
                            <h3 class="card-title shadowed text-center align-middle mt-5 mb-3 lh-1 fw-bold">@e.Country</h3>
                            <h5 class="card-title shadowed text-center align-middle lh-1 fw-bold">@e.City</h5>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</section>