@model List<CountryFreeEntry>

@{
    ViewData["Title"] = $"Free entry with passport of {ViewBag.CountryName}";
    ViewData["MetaDescription"] = $"List of countries where you can free entry with passort of {ViewBag.CountryName}";
    string bgimage = ViewBag.CountryName.ToLower() + ".jpg";
}

<div class="hero-bg px-4 py-5 text-white text-center" style="background-image: url('/@bgimage') !important">
    <h1 class="fw-bold text-white py-5 my-3 shadowed"><a class="text-decoration-none text-white" href="/">🌎</a> / @ViewBag.CountryName</h1>
</div>

<section class="container py-3">

    <ul class="nav nav-pills" id="mytabs">
        <li class="nav-item">
            <a class="nav-link" href="/@ViewBag.CountryName#visas">🎫 Visas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/@ViewBag.CountryName#embassies">🏤 Embassies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/@ViewBag.CountryName#covid">😷 Covid</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/@ViewBag.CountryName/NoEntry">🖐 No visa entry</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/@ViewBag.CountryName/FreeEntry">🛂 Free entry with passport of @ViewBag.CountryName</a>
        </li>
    </ul>

    <h2 class="fw-bold text-center p-4">🛂 Free entry with passport of @ViewBag.CountryName</h2>

    @foreach (var c in Model)
    {
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../@(c.Name.ToLower()).jpg" class="img-fluid rounded-start" srcset="../@c.Name.ToLower()_300.jpg 384w, ../@(c.Name.ToLower()).jpg 1920w" sizes="50vw" alt="@c.Name image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="./@c.Name"><h5 class="card-title">@c.Name</h5></a>
                        <p class="card-text">@c.Details</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    }

</section>