@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv

@model List<CountryFreeEntry>

@{
    int evisa = Model.Where(CountryFreeEntry => CountryFreeEntry.EVisaAvailable == true).Count();
    List<CountryFreeEntry> top = Model.OrderByDescending(CountryFreeEntry => CountryFreeEntry.Duration).Take(3).ToList();

    ViewData["Title"] = $"Free entry with passport of {ViewBag.CountryName}";
    ViewData["MetaDescription"] = $"List of countries where you can free entry with passort of {ViewBag.CountryName}";

    string bgimage = ViewBag.CountryName.ToLower() + ".jpg";
    var path = System.IO.Path.Combine(hostingEnv.WebRootPath, bgimage);
    if (!System.IO.File.Exists(path))
    {
        bgimage = "nocover.jpg";
    }
}

<div class="hero-bg px-4 py-5 text-white text-center" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url('/@bgimage');">
    <h1 class="fw-bold text-white py-5 my-3 shadowed"><a class="text-decoration-none text-white" href="/">🌎</a> / @ViewBag.CountryName</h1>
    <div class="col-lg-6 lead mx-auto shadowed">
        For you as a holder the passport of @ViewBag.CountryName available @Model.Count countries with no visa entry.
        @if(evisa > 0) {
        @: It also contains @evisa countries with simply obtaining E-Visa among them.
        }
        With passport of @ViewBag.CountryName the best visa conditions provided by @String.Join(", ", top.Select(r => r.Name)) with
        visa duration of @top.First().Duration days.
    </div>
</div>

<section class="container py-3">

    <ul class="nav nav-pills" id="mytabs">
        <li class="nav-item">
            <a class="nav-link" href="/@ViewBag.CountryName#visas">🎫 Visas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/@ViewBag.CountryName#embassies">🏤 Embassies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/@ViewBag.CountryName#covid">😷 Covid</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/@ViewBag.CountryName/NoEntry">🖐 No visa entry</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/@ViewBag.CountryName/FreeEntry">🛂 Free entry with passport of @ViewBag.CountryName</a>
        </li>
    </ul>

    <h2 class="fw-bold text-center p-4">🛂 Free entry with passport of @ViewBag.CountryName</h2>

    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        
        @{ int count = 0; }
        @foreach (var c in Model)
        {
            if (count == 3)
            {
                <div class="col">
                    <a href="https://safetywing.com?referenceID=24744359&utm_source=24744359&utm_medium=Ambassador" rel="noopener nofollow noreferrer">
                        <div class="card bg-dark text-white border-0 rounded-5 card-cover shadow-lg" style="background-image: url('../safetywind_300.jpg');">
                            <div class="card-img-overlay text-center">
                                <h3 class="card-title shadowed mt-5 lh-1 fw-bold">Global travel medical insurance</h3>
                                <p class="m-1 badge rounded-pill bg-info text-dark">for $1.5/day!</p>
                                <p class="m-1 badge rounded-pill bg-warning text-dark">Covid-19 coverage</p>
                            </div>
                        </div>
                    </a>
                </div>
            };
            count++;

            <div class="col">
                <a href="/@c.Name">
                    @{
                        var countryImage = c.Name.ToLower();
                        var path2 = System.IO.Path.Combine(hostingEnv.WebRootPath, countryImage + ".jpg");
                        if (!System.IO.File.Exists(path2))
                        {
                            countryImage = "nocover";
                        }
                    }
                    <div class="card bg-dark text-white border-0 rounded-5 card-cover shadow-lg" style="background-image: url('../@(countryImage)_300.jpg');">
                        @*<img src="../@(countryImage).jpg" class="img-fluid rounded-5" srcset="../@(countryImage)_300.jpg 384w, ../@(countryImage).jpg 1920w" sizes="50vw" alt="@c.Name image">*@
                        <div class="card-img-overlay">
                            @if (c.EVisaAvailable)
                            {
                                <span class="position-absolute top-0 start-0 m-2 badge rounded-pill bg-warning text-dark">💻 With E-Visa</span>
                            }

                            <h3 class="card-title shadowed text-center align-middle mt-5 mb-4 lh-1 fw-bold">@c.Name</h3>
                            <span class="position-absolute bottom-0 start-0 m-2 badge rounded-pill bg-light text-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="@c.Details">👉 Details</span>
                            @if (c.Duration > 0)
                            {
                                <span class="position-absolute bottom-0 end-0 m-2 badge rounded-pill bg-info text-dark">@c.Duration days</span>
                            }
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>

</section>

@section Scripts {
    <script>
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        })
    </script>
}