@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv

@model List<CountryFreeEntry>

@{
    ViewData["Title"] = $"Free entry with passport of {ViewBag.CountryName}";
    ViewData["MetaDescription"] = $"List of countries where you can free entry with passort of {ViewBag.CountryName}";

    string bgimage = ViewBag.CountryName.ToLower() + ".jpg";
    var path = System.IO.Path.Combine(hostingEnv.WebRootPath, bgimage);
    if (!System.IO.File.Exists(path))
    {
        bgimage = "nocover.jpg";
    }
}

<div class="hero-bg px-4 py-5 text-white text-center" style="background-image: url('/@bgimage') !important">
    <h1 class="fw-bold text-white py-5 my-3 shadowed"><a class="text-decoration-none text-white" href="/">🌎</a> / @ViewBag.CountryName</h1>
</div>

<section class="container py-3">

    <ul class="nav nav-pills" id="mytabs">
        <li class="nav-item">
            <a class="nav-link" href="/@ViewBag.CountryName#visas">🎫 Visas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/@ViewBag.CountryName#embassies">🏤 Embassies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/@ViewBag.CountryName#covid">😷 Covid</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/@ViewBag.CountryName/NoEntry">🖐 No visa entry</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/@ViewBag.CountryName/FreeEntry">🛂 Free entry with passport of @ViewBag.CountryName</a>
        </li>
    </ul>

    <h2 class="fw-bold text-center p-4">🛂 Free entry with passport of @ViewBag.CountryName</h2>

    <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        @foreach (var c in Model)
        {
        <div class="col">
            <a href="/@c.Name">
                <div class="card bg-dark text-white border-0 rounded-5">
                    @{
                        var countryImage = c.Name.ToLower();
                        var path2 = System.IO.Path.Combine(hostingEnv.WebRootPath, countryImage + ".jpg");
                        if (!System.IO.File.Exists(path2))
                        {
                            countryImage = "nocover";
                        }
                    }
                    <img src="../@(countryImage).jpg" class="img-fluid rounded-5" srcset="../@(countryImage)_300.jpg 384w, ../@(countryImage).jpg 1920w" sizes="50vw" alt="@c.Name image">
                    <div class="card-img-overlay">
                        <h5 class="card-title shadowed text-center align-middle pt-5 pb-5 lh-1 fw-bold">@c.Name</h5>
                        <span class="position-absolute shadowed bottom-0 start-0 p-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="@c.Details">👉 Details</span>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>

</section>

@section Scripts {
    <script>
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        })
    </script>
}