@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@using API.Helpers;

@model IndexPage

@{
    ViewData["Title"] = $"Types of {Model.Country.Citizen} visas - tourist, nomad and other in {DateTime.Now.Year}."; // Model.Header.CountryName + " Visa Policy";
    ViewData["MetaDescription"] = $"List of {Model.Country.Citizen} visas types, period of validity, duration of stay, number of entries, and other parameters in {DateTime.Now.Year}.";
    ViewData["Canonical"] = $"https://glomad.net/{Model.Header.CountryName}";
}

@await Html.PartialAsync("_Header", Model.Header)

<section class="container py-3">

    @await Html.PartialAsync("_Menu", Model.Header.CountryName)

    @if (ViewContext.HttpContext.Request.Path.Value.Contains("Visa"))
    {
        @await Html.PartialAsync("Visa")
    }
    else
    {
        <div class="row">

            <div class="col-md-12">
                <h2 class="text-center p-4">💳 List of @Model.Header.CountryName visa types</h2>

@*        <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 g-4">*@

            @if (Model.NoVisaEntry != null)
            {
                <div class="row mb-3 rounded-3 border shadow-sm bg-info bg-gradient">
                    <div class="col-md-3 p-3">
                        <p class="card-title text-white align-middle pb-3 fw-bold">Visa-free entry</p>
                        @if (Model.NoVisaEntry.IsEVisaAvailable)
                        {
                            <p>
                                <a href="@Model.NoVisaEntry.EVisaUrl" target="_blank" rel="noopener nofollow noreferrer">
                                    <span class="m-2 badge rounded-pill bg-warning text-dark">💻 With E-Visa 👈</span>
                                </a>
                            </p>
                        }
                    </div>
                    <div class="col-md-9 p-3">
                        @if(Model.NoVisaEntry.Duration > 0)
                        {
                            <p class="align-middle rounded-3 py-2 px-3 bg-white-opacy">
                                🙌 @(Model.HomeCountry.Citizen + " сitizens" ?? "Сitizens of " + Model.HomeCountry.Name) can stay in the @Model.Header.CountryName @Model.NoVisaEntry.Duration days without visa.
                            </p>
                        }
                        <p class="align-middle rounded-3 py-2 px-3 bg-white-opacy">
                            ℹ @Model.NoVisaEntry.Description.StripHTML()
                        </p>
                    </div>
                </div>
            }

            @foreach (var visa in Model.Visas)
            {
                <div class="row mb-3 bg-light rounded-3 border shadow-sm">
                    <div class="col-md-3 p-3">
                        <a class="card-title align-middle fw-bold text-decoration-none" href="/@Model.Header.CountryName/Visa/@visa.Id">
                            @visa.VisaName
                        </a>
                        @if (visa.Reviews.Count > 0)
                        {
                            <p class="align-middle rounded-3 py-2 bg-white-opacy">
                                ⭐ @visa.Reviews.Count Reviews
                            </p>
                            @*<h5 class="card-title text-center align-middle lh-1 p-2">@visa.Reviews.Count Reviews</h5>*@
                        }
                        @*else
                        {
                            <p class="align-middle rounded-3 py-2 bg-white-opacy">
                                👋 Add an anonymous review
                            </p>
                        }*@
                    </div>
                    <div class="col-md-5 p-3">
                        @if (visa.Reviews != null && visa.Reviews.Count > 0)
                        {
                            string simpleR = "r1";
                            string simpleT = "🤯 Complicated to get";
                            int simple = (int)visa.Reviews.Average(i => i.Simplicity) * 100 / 5;
                            if (simple > 35 && simple < 75)
                            {
                                simpleR = "r3";
                                simpleT = "🤨 Medium to get";
                            }
                            if (simple >= 75)
                            {
                                simpleR = "r5";
                                simpleT = "😎 Easy to get";
                            }

                            string waitR = "r1";
                            string waitT = "🐢 Low prepare time";
                            int wait = (int)visa.Reviews.Average(i => i.Waiting) * 100 / 5;
                            if (wait > 35 && wait < 75)
                            {
                                waitR = "r3";
                                waitT = "🦘 Medium prepate time";
                            }
                            if (wait >= 75)
                            {
                                waitR = "r5";
                                waitT = "🐎 Prepare fast";
                            }


                            int loy = (int)visa.Reviews.Average(i => i.Loyalty) * 100 / 5;
                            string loyR = "r1";
                            string loyT = "👎 Low loyality";
                            if (loy > 35 && loy < 75)
                            {
                                loyR = "r3";
                                loyT = "👌 Avarage loyality";
                            }
                            if (loy >= 75)
                            {
                                loyR = "r5";
                                loyT = "👋 Perfect loyality";
                            }

                            @*<p class="align-middle text-white rounded-3 py-2 px-3 bg-white-opacy">
                                @simpleT
                            </p>
                            <p class="align-middle text-white rounded-3 py-2 px-3 bg-white-opacy">
                                @waitT
                            </p>
                            <p class="align-middle text-white rounded-3 py-2 px-3 bg-white-opacy">
                                @loyT
                            </p>*@
                            <span class="m-2 p-2 badge rounded-pill @simpleR text-dark">@simpleT</span>
                            <span class="m-2 p-2 badge rounded-pill @waitR text-dark">@waitT</span>
                            <span class="m-2 p-2 badge rounded-pill @loyR text-dark">@loyT</span>
                        }

                        @if (visa.IsExdendable)
                        {
                            @*<p class="align-middle text-white rounded-3 py-2 px-3 bg-white-opacy">
                                ✨ Extendable
                            </p>*@
                            <span class="m-2 p-2 badge rounded-pill bg-info">
                                ✨ Extendable
                            </span>
                        }
                        @if (visa.Duration > 0)
                        {
                            @*<p class="align-middle text-white rounded-3 py-2 px-3 bg-white-opacy">
                                🕜 Duration @visa.Duration days
                            </p>*@
                            <span class="m-2 p-2 badge rounded-pill bg-info">
                                🕜 Duration @visa.Duration days
                            </span>
                        }
                    </div>
                    <div class="col-md-4 p-3">
                        <span>
                            @visa.Description.Substring(0, 100).StripHTML()...
                        </span>
                    </div>
                </div>
            }
            <div class="p-2 bg-light rounded-3">
                <div>
                    <script src="//tp.media/content?currency=usd&promo_id=4044&shmarker=14510&campaign_id=100&trs=21653&target_host=search.jetradar.com&locale=en_us&limit=6&powered_by=false&destination=@Model.Country.CapitalCode" charset="utf-8"></script>
                </div>
            </div>
            </div>

            @*<div class="col-md-4">
              <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h5 style="color: green">Open to visit</h5>
                    <div>
                        <h5 class="pb-2">COVID-19 statistics</h5>
                            <h6>Infection risk level</h6>
                            <p>📉 Moderate</p>

                            <h6>New COVID-19 cases in last 14 days</h6>
                            <p>🦠 43,65</p>
                            <p class="small text-muted">out of 100,000 people</p>
                    </div>
                    <p><a href="#" class="text-decoration-none">🌎 List</a> of All 120 embassies abound the world</p>
                    <p>✔ Citizens of <a href="#" class="text-decoration-none">140 coutries</a> allowed to visit Germany visa-free</p>
                    <p>✔ Citizens of Germany allowed to visit <a href="#" class="text-decoration-none">192 countries</a> visa-free</p>
                </div>

              </div>
            </div>*@
        </div>
        
    }


</section>

@section Scripts {
    <script>
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        })
    </script>
}