@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv

@using Microsoft.AspNetCore;
@using API.Helpers;
@using System.Globalization;

@model IndexPage

@{
    ViewData["Title"] = ViewBag.Title;
    ViewData["MetaDescription"] = ViewBag.Description;
    ViewData["Canonical"] = $"https://glomad.net/{Model.Header.CountryName}";
}

@await Html.PartialAsync("_Header", Model.Header)
@await Html.PartialAsync("_Menu", Model.Header.CountryName)

<section class="container sectionstyle">

    @if (ViewContext.HttpContext.Request.Path.Value.Contains("Visa"))
    {
        @await Html.PartialAsync("Visa")
    }
    else
    {
        <div class="row">

            <div class="col-md-8 text-break">
                @*@if (Model.Country.Summary != null)
                {
                    <div class="pb-4" id="summary">
                        <h4 class="text-center p-4">Summary</h4>
                        <p>
                            @Html.Raw(Model.Country.Summary)
                        </p>
                    </div>                    
                }*@

                @if (Model.NoVisaEntry != null)
                {
                    <div class="p-3 m-0 mt-4 row rounded-booking bg-info">
                        <div class="col-md-3 p-3">

                            <p class="card-title text-white align-middle pb-3 fw-bold">
                                Visa-free entry - @Model.Header.CountryName visa for @Model.HomeCountry.Name
                                citizen in @DateTime.Now.ToString("MMMM", CultureInfo.InvariantCulture) of @DateTime.Now.Year
                            </p>

                            @if (Model.NoVisaEntry.IsEVisaAvailable)
                            {
                                <p>
                                    <a href="@Model.NoVisaEntry.EVisaUrl" target="_blank" rel="noopener nofollow noreferrer">
                                        <span class="m-2 badge rounded-pill bg-warning text-dark">💻 With E-Visa 👈</span>
                                    </a>
                                </p>
                            }
                        </div>
                        <div class="col-md-9 p-3">
                            @if (Model.NoVisaEntry.Duration > 0)
                            {
                                @*<p class="align-middle rounded-3 py-2 px-3 bg-white-opacy">
                    🙌 @(Model.HomeCountry.Citizen + " сitizens" ?? "Сitizens of " + Model.HomeCountry.Name) can stay in the @Model.Header.CountryName @Model.NoVisaEntry.Duration days without visa.
                    </p>*@
                            }
                            <p class="align-middle rounded-3 py-2 px-3 bg-white-opacy">
                                ℹ @Model.NoVisaEntry.Description.StripHTML()
                            </p>
                        </div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(ViewBag.MyCountry) && !Model.NoVisaEntry.IsVisaRequired)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 r5">
                        <h5>🔑 How to enter to @Model.Header.CountryName from @Model.HomeCountry.Name</h5>
                        <p>
                            To enter @Model.Header.CountryName, @Model.HomeCountry.Citizen citizens must follow some fairly simple steps.
                            Please note that migration services have the right to request additional documents 
                            (return tickets, accommodation reservations and etc.).
                        </p>
                        <ol>
                            <li>
                                Before traveling to @Model.Header.CountryName, check whether your @Model.HomeCountry.Citizen passport is valid.
                                Passport must be valid for 6 months after entering
                                @Model.Header.CountryName and have at least 1 blank page for entry stamp.
                            </li>
                            <li>
                                Show your @Model.HomeCountry.Citizen passport to the immigration officer upon arrival.
                            </li>
                            <li>
                                Getting a visa - an entry stamp in your @Model.HomeCountry.Citizen passport.
                                You are allowed to stay in @Model.Header.CountryName for 365 days.
                            </li>
                        </ol>
                    </div>

                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 r3">
                        <h5>✅ Requirements for @Model.HomeCountry.Citizen citizens to visit @Model.Header.CountryName with tourist visa</h5>
                        <ul>
                            <li>
                                @Model.HomeCountry.Citizen citizens should provide valid passport.
                                Passport must be valid at the all time of entry to @Model.Header.CountryName.
                                The passport must be a minimum of one blank page for the entry stamp.
                            </li>
                            <li>
                                Medical insurance is recommended, as treatment of @Model.HomeCountry.Citizen citizens
                                on the territory of @Model.Header.CountryName is carried out on a commercial basis.
                            </li>
                        </ul>
                    </div>
                }

                @if (!string.IsNullOrEmpty(ViewBag.MyCountry) && Model.NoVisaEntry.IsVisaRequired)
                {
                    <div class="mt-3 p-3">
                        <h4><strong>⚠ Citizens of @Model.HomeCountry.Name must obtain a visa in advance before traveling to @Model.Header.CountryName.</strong></h4>
                        <p>
                            A @Model.Country.Citizen Schengen visa is required for @Model.HomeCountry.Citizen citizens.
                            The maximum period of stay on this visa is 90 days. 
                            At the discretion of the embassy staff, the visa can be issued strictly under the travel time line.
                            When applying for a Schengen visa to @Model.Header.CountryName, the applicant must be in person.
                            You must apply for a @Model.Country.Citizen tourist visa at an embassy outside the country.
                        </p>                        
                    </div>

                    @if (Model.TouristVisaDocs?.Count > 0)
                    {
                        <div class="mt-3 p-3">
                            <h4><strong>📄 Check list of documents @Model.Country.Citizen Schengen visa for @Model.HomeCountry.Name citizens</strong></h4>
                            <p>
                                To obtain a Schengen visa to Norway the following documents are required:
                            </p>
                            <ol>
                                @foreach (var d in Model.TouristVisaDocs)
                                {
                                    @if ((DocumentType)d.DocumentType == DocumentType.HealthInsurance)
                                    {
                                        if (new GeoIp(Context).GetMyCountryAsync().ToString().ToLower() == "russia")
                                        {
                                            <li>
                                                <a rel="noopener nofollow noreferrer" target="_blank"
                                                   href="https://cherehapa.ru/insurance/medicine/?partnerId=2879">
                                                    @d.Text
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a rel="noopener nofollow noreferrer" target="_blank"
                                                   href="https://safetywing.com/?referenceID=24744359&utm_source=24744359&utm_medium=Ambassador">
                                                    @d.Text
                                                </a>
                                            </li>
                                        }
                                    }
                                    else if ((DocumentType)d.DocumentType == DocumentType.PlaceOfStay)
                                    {
                                        <li>
                                            <a rel="noopener nofollow noreferrer" target="_blank"
                                               href="https://booking.tp.st/zqey1Nwh">
                                                @d.Text
                                            </a>
                                        </li>
                                    }
                                    else if ((DocumentType)d.DocumentType == DocumentType.Ticket)
                                    {
                                        <li>
                                            <a rel="noopener nofollow noreferrer" target="_blank"
                                               href="https://aviasales.tp.st/hJye4HU1">
                                                @d.Text
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>@d.Text</li>
                                    }
                                }
                            </ol>
                            <p>
                                <a href="./Visa/@Model.TouristVisa.Id">More details 👉</a>
                            </p>
                        </div>                        
                    }

                    <div class="mt-3 p-3">
                        <h4><strong>✅ How to apply for Norway Schengen visa from Russia</strong></h4>
                        <ol>
                            <li>
                                Collect the required documents
                            </li>
                            <li>
                                Select an embassy from the list (if there is a list). Visit the embassy or visa agency.
                            </li>
                            <li>
                                Fill in the application form and attach all necessary documents.
                            </li>
                            <li>
                                Pay the visa fee.
                            </li>
                            <li>
                                Take the documents to the embassy.
                            </li>
                            <li>
                                Document processing, processing.
                            </li>
                            <li>
                                Receive your passports with visas.
                            </li>
                        </ol>
                        <p>
                            ℹ The processing time is usually standard, but may increase depending on the embassy's workload. 
                            Refusal may be received without explanation. The visa fee is non-refundable in case of refusal. 
                            The application must be submitted for each applicant separately and in person.
                        </p>
                    </div>                    
                }

                <div class="mt-3 pb-4 py-3 px-3" id="visas">
                    <h3>@Model.HomeCountry.Citizen Embassies in @Model.Country.Name</h3>
                </div>

                <div class="mt-3 pb-4 py-3 px-3" id="visas">
                    @if (Model.Visas?.Count > 0)
                    {
                        if (Model.Visas?.Count == 1)
                        {
                            <h4 class="text-center p-4">💳 Also one visa is available in @Model.Header.CountryName:</h4>
                        }                        
                        else if (Model.Visas?.Count > 1)
                        {
                            <h4 class="text-center p-4">💳 Also in @Model.Header.CountryName @Model.Visas?.Count visa types are available
                                including: @string.Join(", ", Model.Visas.Select(v => v.Type).Distinct())
                            </h4>
                        }
                    }

                    @if(Model.Visas?.Count == 0)
                    {
                        <h4 class="text-center p-4">The list of @Model.Header.CountryName visas does't ready yet. 
                            @await Component.InvokeAsync("SubscribeUpdates")
                            , please, to updates. We'll let you know as soon as the section is ready.</h4>
                    }
                    @if (Model.Visas?.Count > 0)
                    {
                        @await Component.InvokeAsync("VisaSearchResult", Model.Visas)
                    }
                </div>                               

                @if (Model.Country.DriverLicense != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 r3" id="driverLicense">
                        <h4 class="text-center p-4">🚗 Do tourists need a license to drive a car in @Model.Country.Name?</h4>
                        <p>
                            @Html.Raw(Model.Country.DriverLicense)
                        </p>
                    </div>
                }

                @if (Model.Country.DriverRules != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 r3" id="driverRules">
                        <h4 class="text-center p-4">🚓 Driver rules in @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.DriverRules)
                        </p>
                    </div>
                }

                @if (Model.Country.CurrencyDescription != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 r5" id="currencyDescription">
                        <h4 class="text-center p-4">💸 Currency in @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.CurrencyDescription)
                        </p>
                    </div>
                }

                @if (Model.Country.Safety != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 r5" id="safety">
                        <h4 class="text-center p-4">👮‍♂️ Safety for tourists in @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.Safety)
                        </p>
                    </div>
                }

                @if (Model.Country.Vaccinations != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 r5" id="vaccinations">
                        <h4 class="text-center p-4">💉 Are there any specific vaccinations required before traveling to @Model.Country.Name?</h4>
                        <p>
                            @Html.Raw(Model.Country.Vaccinations)
                        </p>
                    </div>
                }

                
                @if (Model.Country.BestSeason != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 r1" id="bestSeason">
                        <h4 class="text-center p-4">🔥 Best time to visit @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.BestSeason)
                        </p>
                    </div>
                }

                @if (Model.Country.PopularPlaces != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 r1" id="popularPlaces">
                        <h4 class="text-center p-4">💯 The most popular places in @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.PopularPlaces)
                        </p>
                    </div>
                }                

                @if (Model.Country.Transport != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 bg-light" id="transport">
                        <h4 class="text-center p-4">🎒 How to travel in @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.Transport)
                        </p>
                    </div>
                }

                @if (Model.Country.Etiquette != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 bg-light" id="etiquette">
                        <h4 class="text-center p-4">🙏 What are some cultural etiquette and customs in @Model.Country.Name?</h4>
                        <p>
                            @Html.Raw(Model.Country.Etiquette)
                        </p>
                    </div>
                }
                @if (Model.Country.Internet != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 bg-light" id="internet">
                        <h4 class="text-center p-4">🛰 Internet Quality in @Model.Country.Name?</h4>
                        <p>
                            @Html.Raw(Model.Country.Internet)
                        </p>
                    </div>
                }

                @if (Model.Country.MobileOperators != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 bg-light" id="mobileOperators">
                        <h4 class="text-center p-4">📶 Mobile operators in @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.MobileOperators)
                        </p>
                    </div>
                }

                @if (Model.Country.EmrgencyNumbers != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 bg-light" id="emrgencyNumbers">
                        <h4 class="text-center p-4">📲 Emergency numbers in @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.EmrgencyNumbers)
                        </p>
                    </div>
                }
            </div>

            <div class="col-md-4 p-4">
                <div class="position-sticky" style="top: 2rem;">
                    @*<div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">Good to know</h4>
                        <p class="mb-0 text-muted small">123</p>
                    </div>*@



                    @await Html.PartialAsync("_SubscribeUpdates")

                    <h4>Navigation</h4>
                    <ol class="list-unstyled mb-0">
                        @*@if(Model.Country.Summary != null)
                        {
                            <li><a href="#summary">Summary</a></li>
                        }*@
                            
                        <li class="pb-2"><a href="#visas">👉 Visas list</a></li>

                        @if (Model.Country.DriverLicense != null)
                        {
                            <li class="pb-2"><a href="#driverLicense">Do tourists need a license to drive a car in @Model.Country.Name?</a></li>
                        }

                        @if (Model.Country.DriverRules != null)
                        {
                            <li class="pb-2"><a href="#driverRules">Driver rules in @Model.Country.Name</a></li>
                        }

                        @if (Model.Country.CurrencyDescription != null)
                        {
                            <li class="pb-2"><a href="#currencyDescription">Currency in @Model.Country.Name</a></li>
                        }

                        @if (Model.Country.Safety != null)
                        {
                            <li class="pb-2"><a href="#safety">Safety for tourists in @Model.Country.Name</a></li>
                        }

                        @if (Model.Country.Vaccinations != null)
                        {
                            <li class="pb-2"><a href="#vaccinations">Are there any specific vaccinations required before traveling to @Model.Country.Name?</a></li>
                        }

                        @if (Model.Country.BestSeason != null)
                        {
                            <li class="pb-2"><a href="#bestSeason">Best time to visit @Model.Country.Name</a></li>
                        }

                        @if (Model.Country.PopularPlaces != null)
                        {
                            <li class="pb-2"><a href="#popularPlaces">The most popular places in @Model.Country.Name</a></li>
                        }

                        @if (Model.Country.Transport != null)
                        {
                            <li class="pb-2"><a href="#transport">How to travel in @Model.Country.Name</a></li>
                        }

                        @if (Model.Country.Etiquette != null)
                        {
                            <li class="pb-2"><a href="#etiquette">What are some cultural etiquette and customs in @Model.Country.Name?</a></li>
                        }

                        @if (Model.Country.Internet != null)
                        {
                            <li class="pb-2"><a href="#internet">Internet Quality in @Model.Country.Name?</a></li>
                        }                            

                        @if (Model.Country.MobileOperators != null)
                        {
                            <li class="pb-2"><a href="#mobileOperators">Mobile operators in @Model.Country.Name</a></li>
                        }

                        @if (Model.Country.EmrgencyNumbers != null)
                        {
                            <li class="pb-2"><a href="#emrgencyNumbers">Emergency numbers in @Model.Country.Name</a></li>
                        }
                    </ol>

                    <div class="bg-light rounded-booking mb-3 mt-1">
                        <a href="https://safetywing.com?referenceID=24744359&utm_source=24744359&utm_medium=Ambassador" rel="noopener nofollow noreferrer">
                            <div class="card bg-dark text-white border-0 card-cover" style="background-image: url('../safetywind_300.jpg');">
                                <div class="card-img-overlay text-center">
                                    <h3 class="card-title shadowed mt-5 lh-1 fw-bold">Global travel medical insurance</h3>
                                    <p class="m-1 badge rounded-pill bg-info text-dark">for $1.5/day!</p>
                                    <p class="m-1 badge rounded-pill bg-warning text-dark">Covid-19 coverage</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="bg-light rounded-booking" id="bookingW">
                        <script src="//tp.media/content?currency=usd&promo_id=4044&shmarker=14510&campaign_id=100&trs=21653&target_host=search.jetradar.com&locale=en_us&limit=6&powered_by=false&destination=@Model.Country.CapitalCode" charset="utf-8"></script>
                    </div>

                    @if (Model.NextCountries?.Count > 0)
                    {
                        <h4>✈ Countries are close to @Model.Header.CountryName</h4>
                        <ol class="list-unstyled mb-0">
                            @foreach (var c in Model.NextCountries)
                            {
                                <li class="pb-2"><a href="/@c.Name">@c.Name</a></li>
                            }                                
                        </ol>                            
                    }                        
                        
                </div>
            </div>

        </div>        
    }


</section>

@section Scripts {
    <script>
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        })
    </script>
}