@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv

@using Microsoft.AspNetCore;
@using API.Helpers;

@model IndexPage

@{
    ViewData["Title"] = $"Types of {Model.Country.Citizen} visas - tourist, nomad and other in {DateTime.Now.Year}."; // Model.Header.CountryName + " Visa Policy";
    ViewData["MetaDescription"] = $"The {Model.Visas?.Count} types of visas available in {Model.Header.CountryName}, period of validity, duration of stay, number of entries, and other parameters in {DateTime.Now.Year}.";
    ViewData["Canonical"] = $"https://glomad.net/{Model.Header.CountryName}";
}

@await Html.PartialAsync("_Header", Model.Header)
@await Html.PartialAsync("_Menu", Model.Header.CountryName)

<section class="container sectionstyle">

    @if (ViewContext.HttpContext.Request.Path.Value.Contains("Visa"))
    {
        @await Html.PartialAsync("Visa")
    }
    else
    {
        <div class="row">

            <div class="col-md-8 text-break">
                @*@if (Model.Country.Summary != null)
                {
                    <div class="pb-4" id="summary">
                        <h4 class="text-center p-4">Summary</h4>
                        <p>
                            @Html.Raw(Model.Country.Summary)
                        </p>
                    </div>                    
                }*@

                <div class="mt-3 pb-4 py-3 px-3" id="visas">

                    @if (Model.Visas?.Count > 0)
                    {
                        <h4 class="text-center p-4">💳 The @Model.Visas?.Count types of visas available in @Model.Header.CountryName are:</h4>
                        @await Component.InvokeAsync("VisaSearchResult", Model.Visas)
                    }
                    else
                    {
                        <h4 class="text-center p-4">The list of @Model.Header.CountryName visas does't ready yet. <a href="#">Subscribe</a>, please, to updates. We'll let you know as soon as the section is ready.</h4>
                    }
                    @if (Model.NoVisaEntry != null)
                    {
                        <div class="row mb-2 rounded-booking border shadow-sm bg-info bg-gradient">
                            <div class="col-md-3 p-3">
                                <p class="card-title text-white align-middle pb-3 fw-bold">Visa-free entry</p>
                                @if (Model.NoVisaEntry.IsEVisaAvailable)
                                {
                                    <p>
                                        <a href="@Model.NoVisaEntry.EVisaUrl" target="_blank" rel="noopener nofollow noreferrer">
                                            <span class="m-2 badge rounded-pill bg-warning text-dark">💻 With E-Visa 👈</span>
                                        </a>
                                    </p>
                                }
                            </div>
                            <div class="col-md-9 p-3">
                                @if (Model.NoVisaEntry.Duration > 0)
                                {
                                    <p class="align-middle rounded-3 py-2 px-3 bg-white-opacy">
                                        🙌 @(Model.HomeCountry.Citizen + " сitizens" ?? "Сitizens of " + Model.HomeCountry.Name) can stay in the @Model.Header.CountryName @Model.NoVisaEntry.Duration days without visa.
                                    </p>
                                }
                                <p class="align-middle rounded-3 py-2 px-3 bg-white-opacy">
                                    ℹ @Model.NoVisaEntry.Description.StripHTML()
                                </p>
                            </div>
                        </div>
                    }                    
                </div>                               

                @if (Model.Country.DriverLicense != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 r3" id="driverLicense">
                        <h4 class="text-center p-4">🚗 Do tourists need a license to drive a car in @Model.Country.Name?</h4>
                        <p>
                            @Html.Raw(Model.Country.DriverLicense)
                        </p>
                    </div>
                }

                @if (Model.Country.DriverRules != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 r3" id="driverRules">
                        <h4 class="text-center p-4">🚓 Driver rules in @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.DriverRules)
                        </p>
                    </div>
                }

                @if (Model.Country.CurrencyDescription != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 r5" id="currencyDescription">
                        <h4 class="text-center p-4">💸 Currency in @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.CurrencyDescription)
                        </p>
                    </div>
                }

                @if (Model.Country.Safety != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 r5" id="safety">
                        <h4 class="text-center p-4">👮‍♂️ Safety for tourists in @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.Safety)
                        </p>
                    </div>
                }

                @if (Model.Country.Vaccinations != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 r5" id="vaccinations">
                        <h4 class="text-center p-4">💉 Are there any specific vaccinations required before traveling to @Model.Country.Name?</h4>
                        <p>
                            @Html.Raw(Model.Country.Vaccinations)
                        </p>
                    </div>
                }

                
                @if (Model.Country.BestSeason != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 r1" id="bestSeason">
                        <h4 class="text-center p-4">🔥 Best time to visit @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.BestSeason)
                        </p>
                    </div>
                }

                @if (Model.Country.PopularPlaces != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 r1" id="popularPlaces">
                        <h4 class="text-center p-4">💯 The most popular places in @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.PopularPlaces)
                        </p>
                    </div>
                }                

                @if (Model.Country.Transport != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 bg-light" id="transport">
                        <h4 class="text-center p-4">🎒 How to travel in @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.Transport)
                        </p>
                    </div>
                }

                @if (Model.Country.Etiquette != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 bg-light" id="etiquette">
                        <h4 class="text-center p-4">🙏 What are some cultural etiquette and customs in @Model.Country.Name?</h4>
                        <p>
                            @Html.Raw(Model.Country.Etiquette)
                        </p>
                    </div>
                }
                @if (Model.Country.Internet != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 bg-light" id="internet">
                        <h4 class="text-center p-4">🛰 Internet Quality in @Model.Country.Name?</h4>
                        <p>
                            @Html.Raw(Model.Country.Internet)
                        </p>
                    </div>
                }

                @if (Model.Country.MobileOperators != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 bg-light" id="mobileOperators">
                        <h4 class="text-center p-4">📶 Mobile operators in @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.MobileOperators)
                        </p>
                    </div>
                }

                @if (Model.Country.EmrgencyNumbers != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 bg-light" id="emrgencyNumbers">
                        <h4 class="text-center p-4">📲 Emergency numbers in @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.EmrgencyNumbers)
                        </p>
                    </div>
                }
            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    @*<div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">Good to know</h4>
                        <p class="mb-0 text-muted small">123</p>
                    </div>*@

                    <div class="p-4">
                        <h4>Navigation</h4>
                        <ol class="list-unstyled mb-0">
                            @*@if(Model.Country.Summary != null)
                            {
                                <li><a href="#summary">Summary</a></li>
                            }*@
                            
                            <li class="pb-2"><a href="#visas">👉 Visas list</a></li>

                            @if (Model.Country.DriverLicense != null)
                            {
                                <li class="pb-2"><a href="#driverLicense">Do tourists need a license to drive a car in @Model.Country.Name?</a></li>
                            }

                            @if (Model.Country.DriverRules != null)
                            {
                                <li class="pb-2"><a href="#driverRules">Driver rules in @Model.Country.Name</a></li>
                            }

                            @if (Model.Country.CurrencyDescription != null)
                            {
                                <li class="pb-2"><a href="#currencyDescription">Currency in @Model.Country.Name</a></li>
                            }

                            @if (Model.Country.Safety != null)
                            {
                                <li class="pb-2"><a href="#safety">Safety for tourists in @Model.Country.Name</a></li>
                            }

                            @if (Model.Country.Vaccinations != null)
                            {
                                <li class="pb-2"><a href="#vaccinations">Are there any specific vaccinations required before traveling to @Model.Country.Name?</a></li>
                            }

                            @if (Model.Country.BestSeason != null)
                            {
                                <li class="pb-2"><a href="#bestSeason">Best time to visit @Model.Country.Name</a></li>
                            }

                            @if (Model.Country.PopularPlaces != null)
                            {
                                <li class="pb-2"><a href="#popularPlaces">The most popular places in @Model.Country.Name</a></li>
                            }

                            @if (Model.Country.Transport != null)
                            {
                                <li class="pb-2"><a href="#transport">How to travel in @Model.Country.Name</a></li>
                            }

                            @if (Model.Country.Etiquette != null)
                            {
                                <li class="pb-2"><a href="#etiquette">What are some cultural etiquette and customs in @Model.Country.Name?</a></li>
                            }

                            @if (Model.Country.Internet != null)
                            {
                                <li class="pb-2"><a href="#internet">Internet Quality in @Model.Country.Name?</a></li>
                            }                            

                            @if (Model.Country.MobileOperators != null)
                            {
                                <li class="pb-2"><a href="#mobileOperators">Mobile operators in @Model.Country.Name</a></li>
                            }

                            @if (Model.Country.EmrgencyNumbers != null)
                            {
                                <li class="pb-2"><a href="#emrgencyNumbers">Emergency numbers in @Model.Country.Name</a></li>
                            }
                        </ol>
                        <div class="bg-light rounded-booking">
                            <div>
                                <script src="//tp.media/content?currency=usd&promo_id=4044&shmarker=14510&campaign_id=100&trs=21653&target_host=search.jetradar.com&locale=en_us&limit=6&powered_by=false&destination=@Model.Country.CapitalCode" charset="utf-8"></script>
                            </div>
                        </div>

                        @if (Model.NextCountries?.Count > 0)
                        {
                            <h4>✈ Countries are close to @Model.Header.CountryName</h4>
                            <ol class="list-unstyled mb-0">
                                @foreach (var c in Model.NextCountries)
                                {
                                    <li class="pb-2"><a href="/@c.Name">@c.Name</a></li>
                                }                                
                            </ol>                            
                        }                        
                        
                    </div>
                </div>
            </div>

        </div>        
    }


</section>

@section Scripts {
    <script>
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        })
    </script>
}