@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv

@using Microsoft.AspNetCore;
@using API.Helpers;
@using System.Globalization;
@using System.Web;

@model IndexPage

@{
    ViewData["Title"] = ViewBag.Title;
    ViewData["MetaDescription"] = ViewBag.Description;
    ViewData["Canonical"] = $"https://glomad.net/{Model.Header.CountryName}";
}

@await Html.PartialAsync("_Header", Model.Header)
@await Html.PartialAsync("_Menu", Model.Header.CountryName)

<section class="container sectionstyle">

    @if (ViewContext.HttpContext.Request.Path.Value.Contains("Visa"))
    {
        @await Html.PartialAsync("Visa")
    }
    else
    {
        <div class="row">

            <div class="col-md-8 text-break">
                @*@if (Model.Country.Summary != null)
                {
                    <div class="pb-4" id="summary">
                        <h4 class="text-center p-4">Summary</h4>
                        <p>
                            @Html.Raw(Model.Country.Summary)
                        </p>
                    </div>                    
                }*@

                @if (Model.NoVisaEntry != null)
                {
                    <div class="p-3 m-0 mt-4 row rounded-booking bg-info">
                        <div class="col-md-3 p-3">

                            <p class="card-title text-white align-middle pb-3 fw-bold">
                                Visa-free entry - @Model.Header.CountryName visa for @Model.HomeCountry.Name
                                citizen in @DateTime.Now.ToString("MMMM", CultureInfo.InvariantCulture) of @DateTime.Now.Year
                            </p>

                            @if (Model.NoVisaEntry.IsEVisaAvailable)
                            {
                                <p>
                                    <a href="@Model.NoVisaEntry.EVisaUrl" target="_blank" rel="noopener nofollow noreferrer">
                                        <span class="m-2 badge rounded-pill bg-warning text-dark">💻 With E-Visa 👈</span>
                                    </a>
                                </p>
                            }
                        </div>
                        <div class="col-md-9 p-3">
                            @if (Model.NoVisaEntry.Duration > 0)
                            {
                                @*<p class="align-middle rounded-3 py-2 px-3 bg-white-opacy">
                    🙌 @(Model.HomeCountry.Citizen + " сitizens" ?? "Сitizens of " + Model.HomeCountry.Name) can stay in the @Model.Header.CountryName @Model.NoVisaEntry.Duration days without visa.
                    </p>*@
                            }
                            <p class="align-middle rounded-3 py-2 px-3 bg-white-opacy">
                                ℹ @Model.NoVisaEntry.Description.StripHTML()
                            </p>
                        </div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(ViewBag.MyCountry))
                {
                    if (Model.NoVisaEntry != null && !Model.NoVisaEntry.IsVisaRequired) {
                        <div class="mt-3 p-3">
                            <h4>
                                <strong>
                                    🔑 How to enter to @Model.Header.CountryName from @Model.HomeCountry.Name
                                </strong>
                            </h4>
                            <p>
                                To enter @Model.Header.CountryName, @Model.HomeCountry.Citizen citizens must follow some fairly simple steps.
                                Please note that migration services have the right to request additional documents
                                (return tickets, accommodation reservations and etc.).
                            </p>
                            <ol>
                                <li>
                                    Before traveling to @Model.Header.CountryName, check whether your @Model.HomeCountry.Citizen passport is valid.
                                    Passport must be valid for 6 months after entering
                                    @Model.Header.CountryName and have at least 1 blank page for entry stamp.
                                </li>
                                <li>
                                    Show your @Model.HomeCountry.Citizen passport to the immigration officer upon arrival.
                                </li>
                                <li>
                                    Getting a visa - an entry stamp in your @Model.HomeCountry.Citizen passport.
                                    @if (Model.NoVisaEntry.Duration > 0)
                                    {
                                        <span>You are allowed to stay in @Model.Header.CountryName for @Model.NoVisaEntry.Duration days. </span>
                                    }
                                </li>
                            </ol>
                        </div>

                        <div class="mt-3 p-3">
                            <h4>
                                <strong>
                                    ✅ Requirements for @Model.HomeCountry.Citizen citizens to visit @Model.Header.CountryName with tourist visa
                                </strong>
                            </h4>

                            <ul>
                                <li>
                                    @Model.HomeCountry.Citizen citizens should provide valid passport.
                                    Passport must be valid at the all time of entry to @Model.Header.CountryName.
                                    The passport must be a minimum of one blank page for the entry stamp.
                                </li>
                                <li>
                                    Medical insurance is recommended, as treatment of @Model.HomeCountry.Citizen citizens
                                    on the territory of @Model.Header.CountryName is carried out on a commercial basis.
                                </li>
                            </ul>
                        </div>
                    }                    
                }

                @if (!string.IsNullOrEmpty(ViewBag.MyCountry) && Model.NoVisaEntry != null && Model.NoVisaEntry.IsEVisaAvailable)
                {
                    <div class="mt-3 p-3">
                        <h4><strong>
                            ⚠ Citizens of @Model.HomeCountry.Name must obtain a visa in advance before traveling to @Model.Header.CountryName.
                        </strong></h4>
                        @if (!(Model.TouristVisa is null))
                        {
                            <p>
                                @Model.HomeCountry.Citizen citizens is required @Model.TouristVisa.Name. The maximum period of stay on this visa is @Model.TouristVisa.Duration days.
                                At the discretion of the embassy staff, the visa can be issued strictly under the travel time line.
                               When applying for a @Model.TouristVisa.Name, the applicant must be in person.
                                @if (!Model.NoVisaEntry.IsEVisaAvailable )
                                {
                                    <span>You must apply for a @Model.Country.Citizen tourist visa at an embassy outside the country. </span>
                                } else
                                {
                                    <span>You may applay for a @Model.Country.Citizen tourist visa online.</span>
                                }

                            </p>
                            
                        } else {
                        <p>
                            A @Model.Country.Citizen tourist visa is required for @Model.HomeCountry.Citizen citizens.                            
                            At the discretion of the embassy staff, the visa can be issued strictly under the travel time line.
                            When applying for a tourist visa to @Model.Header.CountryName, the applicant must be in person.
                            @if (!Model.NoVisaEntry.IsEVisaAvailable )
                                {
                                    <span>You must apply for a @Model.Country.Citizen tourist visa at an embassy outside the country. </span>
                                } else
                                {
                                    <span>You may applay for a @Model.Country.Citizen tourist visa online.</span>
                                }

                        </p>      
                        }                  
                    </div>

                    @if (Model.EmbassiesOfCountryInMyCountry?.Count > 0)
                    {
                        <div class="mt-3 p-3">
                            <h4><strong>🏢 List of Embassies and Consulates of @Model.Country.Name in @Model.HomeCountry.Name</strong></h4>

                            @foreach (var e in Model.EmbassiesOfCountryInMyCountry)
                            {
                                string title;
                                if (e.Embassy.Name != null)
                                {
                                    title = Html.Raw(HttpUtility.HtmlDecode(e.Embassy.Name)).ToString();
                                    if (!string.IsNullOrEmpty(e.City))
                                        title += $" in {e.City}";
                                }
                                else
                                {
                                    title = Html.Raw(HttpUtility.HtmlDecode($"Embassy of {Model.Country.Name} in {e.Country}")).ToString();
                                    if (!string.IsNullOrEmpty(e.City))
                                    {
                                        title += $", {e.City}";
                                    }
                                    title = title.Replace("\n", "<br/>").ToString();
                                }

                                <p class="mb-2 pt-2">
                                    <a role="button" class="embassyTitle" id="@e.Id" href="#embassyCountry-@e.Id" data-bs-toggle="modal" data-bs-target="#embassyCountry-@e.Id">@Html.Raw(title)</a>
                                </p>

                                <div id="embassyCountry-@e.Id" tabindex="-1" aria-hidden="true" class="modal fade" itemscope="" itemtype="http://schema.org/GovernmentPermit">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" itemprop="name">@title</h5>
                                            </div>
                                            <div class="modal-body">

                                                @if (!string.IsNullOrWhiteSpace(e.Embassy.Address))
                                                {
                                                    <p itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                                        📍 <small class="text-muted">Address: </small>@e.Embassy.Address
                                                    </p>
                                                }

                                                @if (!string.IsNullOrWhiteSpace(e.Embassy.WorkingHours))
                                                {
                                                    <p>
                                                        🕜 <small class="text-muted">Office hours: </small> @Html.Raw(e.Embassy.WorkingHours)
                                                    </p>
                                                }

                                                @if (!string.IsNullOrWhiteSpace(e.Embassy.Phone))
                                                {
                                                    <p itemprop="telephone">
                                                        ☎ <small class="text-muted">Phone: </small>@Html.Raw(e.Embassy.Phone)
                                                    </p>
                                                }

                                                @if (!string.IsNullOrWhiteSpace(e.Embassy.Email))
                                                {
                                                    <p itemprop="email">
                                                        📧 <small class="text-muted">Email: </small>@e.Embassy.Email
                                                    </p>
                                                }

                                                @if (!string.IsNullOrWhiteSpace(e.Embassy.Url))
                                                {
                                                    <p>
                                                        💻 <small class="text-muted">Website: </small>
                                                        <a href="@e.Embassy.Url" itemprop="url" target="_blank" rel="noopener nofollow noreferrer">@e.Embassy.Url</a>
                                                    </p>
                                                }

                                                @if (!string.IsNullOrWhiteSpace(e.Embassy.ApplicationFormUrl))
                                                {
                                                    <p>
                                                        🐱‍💻 <small class="text-muted">Visa application form: </small><a itemprop="sameAs" href="@e.Embassy.ApplicationFormUrl" target="_blank" rel="noopener nofollow noreferrer"> link</a>
                                                    </p>
                                                }

                                                @if (!string.IsNullOrWhiteSpace(e.Embassy.ProcessingTime))
                                                {
                                                    <p>
                                                        🚴‍♂️ <small class="text-muted">Processing time: </small>@e.Embassy.ProcessingTime
                                                    </p>
                                                }

                                                @if (!string.IsNullOrWhiteSpace(e.Embassy.SpecialConditions))
                                                {
                                                    <p>
                                                        ☝ <small class="text-muted">Special conditions: </small>@e.Embassy.SpecialConditions
                                                    </p>
                                                }
                                                @if (e.Latitude > 0 || e.Longitude > 0)
                                                {
                                                    <p>
                                                        <div class="p-2" id='map-@e.Id'></div>
                                                    </p>
                                                }
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <p class="mb-2 pt-2">
                                <a href="./Embassies">👉 All Embassies of @Model.Country.Name</a>
                            </p>
                        </div>
                    }

                    @if (Model.TouristVisaDocs?.Count > 0)
                    {
                        <div class="mt-3 p-3">
                            <h4><strong>📄 Check list of documents @Model.TouristVisa.Name  for @Model.HomeCountry.Citizen citizens</strong></h4>
                            <p>
                                To obtain a @Model.TouristVisa.Name the following documents are required:
                            </p>
                            <ol>
                                @foreach (var d in Model.TouristVisaDocs)
                                {
                                    @if ((DocumentType)d.DocumentType == DocumentType.HealthInsurance)
                                    {
                                        if (new GeoIp(Context).GetMyCountryAsync().ToString().ToLower() == "russia")
                                        {
                                            <li>
                                                <a rel="noopener nofollow noreferrer" target="_blank"
                                                   href="https://cherehapa.ru/insurance/medicine/?partnerId=2879">
                                                    @d.Text
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a rel="noopener nofollow noreferrer" target="_blank"
                                                   href="https://safetywing.com/?referenceID=24744359&utm_source=24744359&utm_medium=Ambassador">
                                                    @d.Text
                                                </a>
                                            </li>
                                        }
                                    }
                                    else if ((DocumentType)d.DocumentType == DocumentType.PlaceOfStay)
                                    {
                                        <li>
                                            <a rel="noopener nofollow noreferrer" target="_blank"
                                               href="https://booking.tp.st/zqey1Nwh">
                                                @d.Text
                                            </a>
                                        </li>
                                    }
                                    else if ((DocumentType)d.DocumentType == DocumentType.Ticket)
                                    {
                                        <li>
                                            <a rel="noopener nofollow noreferrer" target="_blank"
                                               href="https://aviasales.tp.st/hJye4HU1">
                                                @d.Text
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>@d.Text</li>
                                    }
                                }
                            </ol>
                            <p>
                                <a href="./Visa/@Model.TouristVisa.Id">More details 👉</a>
                            </p>
                        </div>                        
                    }

                    <div class="mt-3 p-3">
                        <h4><strong>✅ How to apply for @Model.Country.Name tourist visa from @Model.HomeCountry.Name</strong></h4>
                        <ol>
                            <li>
                                Prepare all required documents.
                            </li>
                            <li>
                                Complete the application form and attach all required documents.
                             </li>
                            <li>
                                @if (Model.NoVisaEntry.IsEVisaAvailable)
                                {
                                    
                                    <span>Submit your visa application online.</span>
                                }
                                else
                                {
                                    <span>Select an embassy or consulate of @Model.Country.Name in @Model.HomeCountry.Name . Visit the embassy or visa agency.  </span>
                                }
                            </li>
                            <li>
                               Await processing of documents.
                            </li>
                            <li>
                                  @if (Model.NoVisaEntry.IsEVisaAvailable)
                                {
                                    
                                    <span>Receive your passports with visas.</span>
                                }
                                else
                                {
                                   <span>Get your e-visa.</span>
                                }
                                .
                            </li>
                            
                        </ol>
                        <p>
                            ℹ The processing time is usually standard, but may increase depending on the embassy's workload. 
                            Refusal may be received without explanation. The visa fee is non-refundable in case of refusal. 
                            The application must be submitted for each applicant separately and in person.
                        </p>
                    </div>                                                          
                }

                @if (Model.EmbassiesOfMyCountryInCountry?.Count > 0)
                {
                    <div class="mt-3 p-3">
                        <h4><strong>🏢 @Model.HomeCountry.Citizen Embassies and Consulates in @Model.Country.Name</strong></h4>

                        @foreach (var e in Model.EmbassiesOfMyCountryInCountry)
                        {
                            string title;
                            if (e.Embassy.Name != null)
                            {
                                title = Html.Raw(HttpUtility.HtmlDecode(e.Embassy.Name)).ToString();
                                if (!string.IsNullOrEmpty(e.City))
                                    title += $" in {e.City}";
                            }
                            else
                            {
                                title = Html.Raw(HttpUtility.HtmlDecode($"Embassy of {Model.Country.Name} in {e.Country}")).ToString();
                                if (!string.IsNullOrEmpty(e.City))
                                {
                                    title += $", {e.City}";
                                }
                                title = title.Replace("\n", "<br/>").ToString();
                            }

                            <p class="mb-2">
                                <a role="button" class="embassyTitle" id="@e.Id" href="#embassy-@e.Id" data-bs-toggle="modal" data-bs-target="#embassy-@e.Id">@title</a>
                            </p>

                            <div id="embassy-@e.Id" tabindex="-1" aria-hidden="true" class="modal fade" itemscope="" itemtype="http://schema.org/GovernmentPermit">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" itemprop="name">@title</h5>
                                        </div>
                                        <div class="modal-body">

                                            @if (!string.IsNullOrWhiteSpace(e.Embassy.Address))
                                            {
                                                <p itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                                    📍 <small class="text-muted">Address: </small>@e.Embassy.Address
                                                </p>
                                            }

                                            @if (!string.IsNullOrWhiteSpace(e.Embassy.WorkingHours))
                                            {
                                                <p>
                                                    🕜 <small class="text-muted">Office hours: </small> @Html.Raw(e.Embassy.WorkingHours)
                                                </p>
                                            }

                                            @if (!string.IsNullOrWhiteSpace(e.Embassy.Phone))
                                            {
                                                <p itemprop="telephone">
                                                    ☎ <small class="text-muted">Phone: </small>@Html.Raw(e.Embassy.Phone)
                                                </p>
                                            }

                                            @if (!string.IsNullOrWhiteSpace(e.Embassy.Email))
                                            {
                                                <p itemprop="email">
                                                    📧 <small class="text-muted">Email: </small>@e.Embassy.Email
                                                </p>
                                            }

                                            @if (!string.IsNullOrWhiteSpace(e.Embassy.Url))
                                            {
                                                <p>
                                                    💻 <small class="text-muted">Website: </small>
                                                    <a href="@e.Embassy.Url" itemprop="url" target="_blank" rel="noopener nofollow noreferrer">@e.Embassy.Url</a>
                                                </p>
                                            }

                                            @if (!string.IsNullOrWhiteSpace(e.Embassy.ApplicationFormUrl))
                                            {
                                                <p>
                                                    🐱‍💻 <small class="text-muted">Visa application form: </small><a itemprop="sameAs" href="@e.Embassy.ApplicationFormUrl" target="_blank" rel="noopener nofollow noreferrer"> link</a>
                                                </p>
                                            }

                                            @if (!string.IsNullOrWhiteSpace(e.Embassy.ProcessingTime))
                                            {
                                                <p>
                                                    🚴‍♂️ <small class="text-muted">Processing time: </small>@e.Embassy.ProcessingTime
                                                </p>
                                            }

                                            @if (!string.IsNullOrWhiteSpace(e.Embassy.SpecialConditions))
                                            {
                                                <p>
                                                    ☝ <small class="text-muted">Special conditions: </small>@e.Embassy.SpecialConditions
                                                </p>
                                            }
                                            @if (e.Latitude > 0 || e.Longitude > 0)
                                            {
                                                <p>
                                                    <div class="p-2" id='map-@e.Id'></div>
                                                </p>
                                            }
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }

                @if(!string.IsNullOrEmpty(ViewBag.MyCountry) && Model.NoVisaEntry != null && !Model.NoVisaEntry.IsVisaRequired) {
                    <div class="mt-3 p-3">
                        <h4>
                            <strong>
                                ❓ FAQ
                            </strong>
                        </h4>
                        <ol>
                            <li>
                                <p>
                                    <strong>
                                        Do citizens of @Model.HomeCountry.Name require a visa to visit the @Model.Country.Name?
                                    </strong>
                                </p>
                                <p>
                                    @Model.HomeCountry.Citizen citizens do not need a visa to visit the @Model.Country.Name.
                                </p>
                            </li>
                            @if (Model.NoVisaEntry.Duration > 0)
                            {
                                <li>
                                    <p>
                                        <strong>
                                            How long @Model.HomeCountry.Citizen citizens are allowed to stay in @Model.Country.Name without a visa?
                                        </strong>
                                    </p>
                                    <p>
                                        The maximum duration of stay in @Model.Country.Name for citizens of @Model.HomeCountry.Name
                                        for a visa-free stay is @Model.NoVisaEntry.Duration days.
                                    </p>
                                </li>
                            }

                            <li>
                                <p>
                                    <strong>
                                        What happens if a @Model.HomeCountry.Citizen passport holder stays in @Model.Country.Name longer than the visa-free period allowed?
                                    </strong>
                                </p>
                                <p>
                                    Overstaying visa-free entry to @Model.Country.Name is punishable by a fine, in case of serious violations a ban on entry to @Model.Country.Name is possible. It is essential to leave the country before your authorized stay expires or to extend your stay legally if needed.
                                </p>
                            </li>

                            <li>
                                <p>
                                    <strong>
                                        Do citizens of @Model.HomeCountry.Name need to show proof of sufficient funds to enter @Model.Country.Name without a visa?
                                    </strong>
                                </p>
                                <p>
                                    @Model.Country.Citizen immigration authorities may ask for proof of sufficient funds or a return ticket when entering the country without a visa. It is advisable to have these documents with you when traveling.
                                </p>
                            </li>

                            <li>
                                <p>
                                    <strong>
                                        What documents are required for @Model.HomeCountry.Citizen citizens to enter @Model.Country.Name without a visa?
                                    </strong>
                                </p>
                                <p>
                                    @Model.HomeCountry.Citizen citizens need a valid passport with at least six months validity, a return or onward ticket, and proof of sufficient funds to cover their stay in @Model.Country.Name.
                                </p>
                            </li>

                            <li>
                                <p>
                                    <strong>
                                        Can @Model.HomeCountry.Citizen work or study during the visa-free stay in @Model.Country.Name?
                                    </strong>
                                </p>
                                <p>
                                    The @Model.Country.Name visa-free stay is usually for tourism purposes only. For working or studying in @Model.Country.Name @Model.HomeCountry.Citizen citizens usually requires a specific visa, and you should not engage in such activities on a tourist visa-free stay.
                                </p>
                            </li>

                        </ol>
                    </div>
                } else if(!string.IsNullOrEmpty(ViewBag.MyCountry) && Model.NoVisaEntry != null && Model.NoVisaEntry.IsVisaRequired) 
                {
                        <div class="mt-3 p-3">
                        <h4>
                            <strong>
                                ❓ FAQ
                            </strong>
                        </h4>
                        <ol>
                            <li>
                                <p>
                                    <strong>
                                        Do @Model.HomeCountry.Citizen citizens need a visa to visit @Model.Country.Name?
                                    </strong>
                                </p>
                                @if (Model.TouristVisaDocs?.Count > 0)
                                {
                                    <p>They need for a visa depends on the purpose and duration of the visit. Most @Model.HomeCountry.Citizen tourists visiting @Model.Country.Name for short stays typically require a <a href="./Visa/@Model.TouristVisa.Id">@Model.TouristVisa.Name</a>.</p>

                                } else
                                {
                                    <p>Yes, @Model.HomeCountry.Citizen citizens need to apply for a visa in advance to travel to @Model.Country.Name.</p>
                                }
                                
                            </li>
                            <li>
                                <p><strong>
                                    How do @Model.HomeCountry.Citizen citizens apply for a tourist visa of @Model.Country.Name?
                                </strong></p>
                                @if (Model.NoVisaEntry != null && Model.NoVisaEntry.IsEVisaAvailable)
                                {
                                    <p>Citizens of @Model.HomeCountry.Name may apply for @Model.Country.Name visa online.</p>
                                }
                                else
                                {
                                    <p>@Model.HomeCountry.Citizen citizens can apply for a @Model.Country.Name visa through the Embassy or Consulate of @Model.Country.Name  in @Model.HomeCountry.Name. 
                                        The application process usually involves filling out forms, providing required documents.</p>
                                }
                            </li>
                            <li>
                                <p><strong>
                                    Can citizens of @Model.HomeCountry.Name work or study on a tourist visa for @Model.Country.Name?
                                </strong></p>
                                <p>
                                    No, @Model.Country.Name tourist visas are generally for tourism or family visits. 
                                    If you plan to work or study in @Model.Country.Name, you would typically need a different type of visa or residence permit.
                                </p>
                            </li>
                        </ol>
                        </div>
                }                

                <div class="mt-3 pb-4 py-3 px-3" id="visas">
                    @if (Model.Visas?.Count > 0)
                    {
                        if (Model.Visas?.Count == 1)
                        {
                            <h4><strong>
                                💳 Also one visa is available in @Model.Header.CountryName:
                            </strong></h4>
                        }                        
                        else if (Model.Visas?.Count > 1)
                        {
                            <h4><strong>
                                💳 Also in @Model.Header.CountryName @Model.Visas?.Count visa types are available
                                including: @string.Join(", ", Model.Visas.Select(v => v.Type).Distinct())
                                </strong>
                            </h4>
                        }
                    }

                    @if(Model.Visas?.Count == 0)
                    {
                        <h4 class="text-center p-4">The list of @Model.Header.CountryName visas does't ready yet. 
                            @await Component.InvokeAsync("SubscribeUpdates")
                            , please, to updates. We'll let you know as soon as the section is ready.</h4>
                    }
                    @if (Model.Visas?.Count > 0)
                    {
                        @await Component.InvokeAsync("VisaSearchResult", Model.Visas)
                    }
                </div>                               

                @if (Model.Country.DriverLicense != null)
                {   
                    <div class="mt-3 p-3" id="driverLicense">
                        <h4><strong>🚗 Do tourists need a license to drive a car in @Model.Country.Name?</strong></h4>
                        <p>
                            @Html.Raw(Model.Country.DriverLicense.TruncateStr(150).StripHTML())...
                            <a href="/@Model.Country.Name/Auto" >Continue reading</a>
                        </p>
                    </div>
                }

                @if (Model.Country.DriverRules != null)
                {
                    <div class="mt-3 p-3" id="driverRules">
                        <h4><strong>🚓 Driver rules in @Model.Country.Name</strong></h4>
                        <p>
                            @Html.Raw(Model.Country.DriverRules.TruncateStr(150).StripHTML())...
                            <a href="/@Model.Country.Name/Auto" >Continue reading</a>
                        </p>
                    </div>
                }

                @if (Model.Country.CurrencyDescription != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 r5" id="currencyDescription">
                        <h4 class="text-center p-4">💸 Currency in @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.CurrencyDescription)
                        </p>
                    </div>
                }

                @if (Model.Country.Safety != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 r5" id="safety">
                        <h4 class="text-center p-4">👮‍♂️ Safety for tourists in @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.Safety)
                        </p>
                    </div>
                }

                @if (Model.Country.Vaccinations != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 r5" id="vaccinations">
                        <h4 class="text-center p-4">💉 Are there any specific vaccinations required before traveling to @Model.Country.Name?</h4>
                        <p>
                            @Html.Raw(Model.Country.Vaccinations)
                        </p>
                    </div>
                }

                
                @if (Model.Country.BestSeason != null)
                {
                    <div class="mt-3 p-3" id="bestSeason">
                        <h4><strong>🔥 Best time to visit @Model.Country.Name</strong></h4>
                        <p>
                            @Html.Raw(Model.Country.BestSeason.TruncateStr(150).StripHTML())...
                            <a href="/@Model.Country.Name/Season" >Continue reading</a>
                        </p>
                    </div>
                }

                @if (Model.Country.PopularPlaces != null)
                {
                    <div class="mt-3 p-3" id="popularPlaces">
                        <h4><strong>💯 The most popular places in @Model.Country.Name</strong></h4>
                        <p>
                            @Html.Raw(Model.Country.PopularPlaces.TruncateStr(150).StripHTML())...
                            <a href="/@Model.Country.Name/Season" >Continue reading</a>
                        </p>
                    </div>
                }                

                @if (Model.Country.Transport != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 bg-light" id="transport">
                        <h4 class="text-center p-4">🎒 How to travel in @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.Transport)
                        </p>
                    </div>
                }

                @if (Model.Country.Etiquette != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 bg-light" id="etiquette">
                        <h4 class="text-center p-4">🙏 What are some cultural etiquette and customs in @Model.Country.Name?</h4>
                        <p>
                            @Html.Raw(Model.Country.Etiquette)
                        </p>
                    </div>
                }
                @if (Model.Country.Internet != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 bg-light" id="internet">
                        <h4 class="text-center p-4">🛰 Internet Quality in @Model.Country.Name?</h4>
                        <p>
                            @Html.Raw(Model.Country.Internet)
                        </p>
                    </div>
                }

                @if (Model.Country.MobileOperators != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 bg-light" id="mobileOperators">
                        <h4 class="text-center p-4">📶 Mobile operators in @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.MobileOperators)
                        </p>
                    </div>
                }

                @if (Model.Country.EmrgencyNumbers != null)
                {
                    <div class="mt-3 pb-4 rounded-3 py-3 px-3 bg-light" id="emrgencyNumbers">
                        <h4 class="text-center p-4">📲 Emergency numbers in @Model.Country.Name</h4>
                        <p>
                            @Html.Raw(Model.Country.EmrgencyNumbers)
                        </p>
                    </div>
                }
            </div>

            <div class="col-md-4 p-4">
                <div class="position-sticky" style="top: 2rem;">
                    @*<div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">Good to know</h4>
                        <p class="mb-0 text-muted small">123</p>
                    </div>*@



                    @await Html.PartialAsync("_SubscribeUpdates")

                    <h4>Navigation</h4>
                    <ol class="list-unstyled mb-0">
                        @*@if(Model.Country.Summary != null)
                        {
                            <li><a href="#summary">Summary</a></li>
                        }*@
                            
                        <li class="pb-2"><a href="#visas">👉 Visas list</a></li>

                        @if (Model.Country.DriverLicense != null)
                        {
                            <li class="pb-2"><a href="#driverLicense">Do tourists need a license to drive a car in @Model.Country.Name?</a></li>
                        }

                        @if (Model.Country.DriverRules != null)
                        {
                            <li class="pb-2"><a href="#driverRules">Driver rules in @Model.Country.Name</a></li>
                        }

                        @if (Model.Country.CurrencyDescription != null)
                        {
                            <li class="pb-2"><a href="#currencyDescription">Currency in @Model.Country.Name</a></li>
                        }

                        @if (Model.Country.Safety != null)
                        {
                            <li class="pb-2"><a href="#safety">Safety for tourists in @Model.Country.Name</a></li>
                        }

                        @if (Model.Country.Vaccinations != null)
                        {
                            <li class="pb-2"><a href="#vaccinations">Are there any specific vaccinations required before traveling to @Model.Country.Name?</a></li>
                        }

                        @if (Model.Country.BestSeason != null)
                        {
                            <li class="pb-2"><a href="#bestSeason">Best time to visit @Model.Country.Name</a></li>
                        }

                        @if (Model.Country.PopularPlaces != null)
                        {
                            <li class="pb-2"><a href="#popularPlaces">The most popular places in @Model.Country.Name</a></li>
                        }

                        @if (Model.Country.Transport != null)
                        {
                            <li class="pb-2"><a href="#transport">How to travel in @Model.Country.Name</a></li>
                        }

                        @if (Model.Country.Etiquette != null)
                        {
                            <li class="pb-2"><a href="#etiquette">What are some cultural etiquette and customs in @Model.Country.Name?</a></li>
                        }

                        @if (Model.Country.Internet != null)
                        {
                            <li class="pb-2"><a href="#internet">Internet Quality in @Model.Country.Name?</a></li>
                        }                            

                        @if (Model.Country.MobileOperators != null)
                        {
                            <li class="pb-2"><a href="#mobileOperators">Mobile operators in @Model.Country.Name</a></li>
                        }

                        @if (Model.Country.EmrgencyNumbers != null)
                        {
                            <li class="pb-2"><a href="#emrgencyNumbers">Emergency numbers in @Model.Country.Name</a></li>
                        }
                    </ol>

                    <div class="bg-light rounded-booking mb-3 mt-1">
                        <a href="https://safetywing.com?referenceID=24744359&utm_source=24744359&utm_medium=Ambassador" rel="noopener nofollow noreferrer">
                            <div class="card bg-dark text-white border-0 card-cover" style="background-image: url('../safetywind_300.jpg');">
                                <div class="card-img-overlay text-center">
                                    <h3 class="card-title shadowed mt-5 lh-1 fw-bold">Global travel medical insurance</h3>
                                    <p class="m-1 badge rounded-pill bg-info text-dark">for $1.5/day!</p>
                                    <p class="m-1 badge rounded-pill bg-warning text-dark">Covid-19 coverage</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="bg-light rounded-booking" id="bookingW">
                        <script src="//tp.media/content?currency=usd&promo_id=4044&shmarker=14510&campaign_id=100&trs=21653&target_host=search.jetradar.com&locale=en_us&limit=6&powered_by=false&destination=@Model.Country.CapitalCode" charset="utf-8"></script>
                    </div>

                    @if (Model.NextCountries?.Count > 0)
                    {
                        <h4>✈ Countries are close to @Model.Header.CountryName</h4>
                        <ol class="list-unstyled mb-0">
                            @foreach (var c in Model.NextCountries)
                            {
                                <li class="pb-2"><a href="/@c.Name">@c.Name</a></li>
                            }                                
                        </ol>                            
                    }                        
                        
                </div>
            </div>

        </div>        
    }


</section>

@section Scripts {
    <script>
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        })
    </script>
}