@model CountryViewModel

@{
    ViewData["Title"] = Model.Country.Name + " Visa Policy";
    ViewData["MetaDescription"] = $"How to get tourist visa to {Model.Country.Name}. Visa fees. Last updates of {Model.Country.Name} COVID-19 travel requirements and restrictions. List of {Model.Country.Name} embassies.";
    ViewData["Canonical"] = $"https://glomad.net/{Model.Country.Name}";
    string bgimage = Model.Country.Name + ".jpg";
}

<div class="hero-bg px-4 py-5 text-white text-center" style="background-image: url('/@bgimage') !important">
    <h1 class="display-5 fw-bold">@Model.Country.Name</h1>
    @if(@Model.Country.UpdateDate != null) {
        <h5 id="updatedate" class="my-3" data-utcdate="@Model.Country.UpdateDate.Value.ToString("s", System.Globalization.CultureInfo.InvariantCulture);"></h5>
    }


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Country.Name</li>
        </ol>
    </nav>
</div>

<section class="container py-3">

    <ul class="nav nav-pills" role="tablist" id="mytabs">
        <li class="nav-item" role="presentation">
            <a id="visas-tab" class="nav-link active" role="tab" aria-current="page" href="#visas" data-bs-toggle="tab" data-bs-target="#visas" aria-controls="visas" aria-selected="true">🎫 Visas</a>
        </li>
        <li class="nav-item" role="presentation">
            <a id="embassies-tab" class="nav-link" role="tab" href="#embassies" data-bs-toggle="tab" data-bs-target="#embassies" aria-controls="embassies" aria-selected="false">🏤 Embassies</a>
        </li>
        <li class="nav-item" role="presentation">
            <a id="covid-tab" class="nav-link" role="tab" href="#covid" data-bs-toggle="tab" data-bs-target="#covid" aria-controls="covid" aria-selected="false">😷 Covid</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="./@Model.Country.Name/NoEntry">🖐 No visa entry</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="./@Model.Country.Name/FreeEntry">🛂 Free entry with passport of @Model.Country.Name</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="visas" role="tabpanel" aria-labelledby="visas-tab">
            <h2 class="fw-bold text-center p-4">💳 List of @Model.Country.Name visa types</h2>
            <div class="row row-cols-sm-1  row-cols-lg-3 row-cols-md-2 g-4">
                @foreach (var visa in Model.Visas)
                {
                    <div>
                        <div class="p-2 bg-light rounded-3 overflow-auto" style="height: 400px;">
                            <div>
                                <h5 class="fw-bold">@visa.VisaName</h5>

                                <p class="col-md-12">@Html.Raw(visa.Description)</p>

                                @if (visa.IsExdendable)
                                {
                                    <span class="badge badge-card bg-info text-dark m-2 fs-6">
                                        ✨ Extendable
                                    </span>
                                }
                                <span class="badge badge-card bg-info text-dark m-2 fs-6">
                                    🕜 Duration @visa.Duration days
                                </span>
                            </div>
                        </div>
                    </div>
                }
                <div class="p-2 bg-light rounded-3">
                    <div>
                        <script src="//tp.media/content?currency=usd&promo_id=4044&shmarker=14510&campaign_id=100&trs=21653&target_host=search.jetradar.com&locale=en_us&limit=6&powered_by=false&destination=@Model.Country.CapitalCode" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab-pane fade" id="embassies" role="tabpanel" aria-labelledby="embassies-tab">
            <h2 class="fw-bold text-center p-4">🏢 List of @Model.Country.Name embassies</h2>
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
                @foreach (var e in Model.Embassies)
                {
                    <div class="col">
                        <div class="card rouded-3">
                            <div class="card-body">
                                <span class="flag-icon flag-icon-@e.Iata"></span>
                                <a href="/@Model.Country.Name/Embassy/@e.Id" class="card-link m-2">@e.Country, @e.City</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>


        <div class="tab-pane fade" id="covid" role="tabpanel" aria-labelledby="covid-tab">
            <section>
                <h2 class="fw-bold text-center p-4">🦠 @Model.Country.Name COVID-19 travel requirements</h2>
                <div class="p-3">@Html.Raw(Model.Covid)</div>
            </section>
        </div>

    </div>
</section>

@section Scripts{
    <script>
        $(function () {
            $("#updatedate").html("⏱ Updated " + moment($("#updatedate").attr('data-utcdate'), "YYYYMMDDHHmmss").fromNow());

            //set active tab
            var hash = window.location.hash;
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');
            if (hash != '') {
                $('.nav-pills a[href="#' + hash + '"]').tab('show');
            }

            // Change hash for page-reload
            $('.nav-pills a').click(function (e) {
                $(this).tab('show');
                window.location.hash = this.hash;
            });
        });
    </script>
}