@model Dictionary<string, List<CountryNoEntry>>;

@{
    ViewData["Title"] = $"No Entry to {ViewBag.CountryName}";
    ViewData["MetaDescription"] = $"List of countries with visa - free (no entry) travel to {ViewBag.CountryName}";
    string bgimage = ViewBag.CountryName + ".jpg";
}

<div class="hero-bg px-4 py-5 text-white text-center" style="background-image: url('/@bgimage') !important">
    <h1 class="display-5 fw-bold">@ViewBag.CountryName</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.CountryName</li>
        </ol>
    </nav>
</div>

<section class="container py-3">

    <ul class="nav nav-pills" id="mytabs">
        <li class="nav-item">
            <a class="nav-link" href="/@ViewBag.CountryName#visas">🎫 Visas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/@ViewBag.CountryName#embassies">🏤 Embassies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/@ViewBag.CountryName#covid">😷 Covid</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/@ViewBag.CountryName/NoEntry">🖐 No Entry</a>
        </li>
    </ul>

    <h2 class="fw-bold text-center p-4">🖐 No Entry to @ViewBag.CountryName</h2>

    <div id="accordion">
        @foreach (KeyValuePair<string, List<CountryNoEntry>> entry in Model)
        {
            int id = 0;
            int id2 = 100;
            <div class="card mb-4">
                <div class="card-header" id="@id">
                    <h5 class="mb-0">
                        <button class="btn" data-toggle="collapse" data-target="#@id2" aria-expanded="true" aria-controls="@id2">
                            👉 @entry.Key;
                        </button>
                    </h5>
                </div>

                <div id="@id2" class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4 collapse show" aria-labelledby="@id" data-parent="#accordion">
                    @foreach (var country in entry.Value)
                    {
                        <div class="col">
                            <div class="card-body">
                                <span class="flag-icon flag-icon-@country.Iata.ToLower()"></span>
                                <a href="/@country.Name" class="card-link m-2">@country.Name</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            id++;
            id2++;
        }

    </div>

</section>