@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv

@model List<CountryFreeEntry>;

@{
    int evisa = Model.Where(CountryFreeEntry => CountryFreeEntry.EVisaAvailable == true).Count();

    List<CountryFreeEntry> top = Model.OrderByDescending(CountryFreeEntry => CountryFreeEntry.Duration).Take(3).ToList();


    ViewData["Title"] = $"No Entry visa to {ViewBag.CountryName}";
    ViewData["MetaDescription"] = $"List of countries with visa - free (no entry) travel to {ViewBag.CountryName}. " +
                $"Last update {ViewBag.LastUpdates}";
    ViewData["Canonical"] = $"https://glomad.net/{ViewBag.CountryName}/NoVisaEntry";

    string bgimage = ViewBag.CountryName + ".jpg";
    var path = System.IO.Path.Combine(hostingEnv.WebRootPath, bgimage);
    if (!System.IO.File.Exists(path))
    {
        bgimage = "nocover.jpg";
    }
}

<div class="hero-bg px-4 py-5 text-white text-center" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url('/@bgimage');">
    <h1 class="fw-bold text-white py-5 my-3 shadowed"><a class="text-decoration-none text-white" href="/">🌎</a> / @ViewBag.CountryName</h1>
    <h5 class="col-lg-8 mx-auto shadowed">
        There are @Model.Count countries whose citizens are not required to obtain a visa to visit @ViewBag.CountryName,
        @if (evisa > 0)
        {
            @: including @evisa countries that need to get an E-Visa before the entry.
        }
        Citizens of @String.Join(", ", top.Select(r => r.Name))
        are allowed to stay in @ViewBag.CountryName without a visa for up to @top.First().Duration days.
    </h5>
</div>

<section class="container py-3">

    <ul class="nav nav-pills" id="mytabs">
        <li class="nav-item">
            <a class="nav-link" href="/@ViewBag.CountryName#visas">🎫 Visas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/@ViewBag.CountryName#embassies">🏤 Embassies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/@ViewBag.CountryName#covid">😷 Covid</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/@ViewBag.CountryName/NoVisaEntry">🖐 No visa entry</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="/@ViewBag.CountryName/FreeEntry">🛂 Free entry with passport of @ViewBag.CountryName</a>
        </li>
    </ul>

    <h2 class="fw-bold text-center p-4">🖐 No visa entry to @ViewBag.CountryName</h2>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="cb_novisaentry" value="novisaentry" checked>
        <label class="form-check-label" for="cb_novisaentry">No visa entry</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="cb_evisa" value="evisa">
        <label class="form-check-label" for="cb_evisa">E-Visa available</label>
    </div>

    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 pt-4">
        @{int count = 0;}
        @foreach (var c in Model)
        {
            if (count == 3)
            {
                <div class="col">
                    <a href="https://safetywing.com?referenceID=24744359&utm_source=24744359&utm_medium=Ambassador" rel="noopener nofollow noreferrer">
                        <div class="card bg-dark text-white border-0 rounded-5 card-cover shadow-lg" style="background-image: url('../safetywind_300.jpg');">
                            <div class="card-img-overlay text-center">
                                <h3 class="card-title shadowed mt-5 lh-1 fw-bold">Global travel medical insurance</h3>
                                <p class="m-1 badge rounded-pill bg-info text-dark">for $1.5/day!</p>
                                <p class="m-1 badge rounded-pill bg-warning text-dark">Covid-19 coverage</p>
                            </div>
                        </div>
                    </a>
                </div>
            };
            count++;
            <div class="col novisaentry @(c.EVisaAvailable ? "evisa display-none" : "")">
                @{
                    var countryImage = c.Name.ToLower();
                    var path2 = System.IO.Path.Combine(hostingEnv.WebRootPath, countryImage + ".jpg");
                    if (!System.IO.File.Exists(path2))
                    {
                        countryImage = "nocover";
                    }
                }
                <div class="card bg-dark text-white border-0 rounded-5 card-cover shadow-lg" style="background-image: url('../@(countryImage)_300.jpg');">

                    @*<img src="../@(countryImage).jpg" class="img-fluid rounded-5" srcset="../@(countryImage)_300.jpg 384w, ../@(countryImage).jpg 1920w" sizes="50vw" alt="@c.Name image">*@
                    <div class="card-img-overlay">
                        <span class="position-absolute top-0 end-0 m-2 badge rounded-pill bg-success text-white">👋 No visa entry</span>
                        @if (c.EVisaAvailable)
                        {
                            <a href="@c.EVisaUrl" rel="noopener nofollow noreferrer">
                                <span class="position-absolute top-0 start-0 m-2 badge rounded-pill bg-warning text-dark">💻 With E-Visa 👈</span>
                            </a>
                        }

                        <a class="text-white text-decoration-none" href="/@c.Name">
                            <h3 class="card-title shadowed text-center align-middle mt-5 mb-4 lh-1 fw-bold">@c.Name</h3>
                        </a>
                        <span class="position-absolute bottom-0 start-0 m-2 badge rounded-pill bg-light text-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="@c.Details">👉 Details</span>
                        @if (c.Duration > 0)
                        {
                            <span class="position-absolute bottom-0 end-0 m-2 badge rounded-pill bg-info text-dark">@c.Duration days</span>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    @*<div class="pb-3" id="filters">
        @foreach (KeyValuePair<string, List<CountryFreeEntry>> entry in Model)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="@entry.Key" id="filter_@entry.Key">
                <label class="form-check-label" for="filter_@entry.Key">
                    @entry.Key
                </label>
            </div>
        }
    </div>

    <div>
        @foreach (KeyValuePair<string, List<CountryFreeEntry>> entry in Model)
        {
            @foreach (var country in entry.Value)
            {
                <span class="class_@entry.Key m-2 badge rounded-pill bg-light text-dark">
                    <span class="flag-icon flag-icon-@country.Iata.ToLower()"></span>
                    <a href="/@country.Name" class="card-link m-2">@country.Name</a>
                </span>
            }
        }
    </div>*@

    @*<div id="accordion">
            @foreach (KeyValuePair<string, List<CountryFreeEntry>> entry in Model)
            {
                int id = 0;
                int id2 = 100;
                <div class="card mb-4">
                    <div class="card-header" id="@id">
                        <h5 class="mb-0">
                            <button class="btn" data-toggle="collapse" data-target="#@id2" aria-expanded="true" aria-controls="@id2">
                                👉 @entry.Key;
                            </button>
                        </h5>
                    </div>

                    <div id="@id2" class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4 collapse show" aria-labelledby="@id" data-parent="#accordion">
                        @foreach (var country in entry.Value)
                        {
                            <div class="col">
                                <div class="card-body">
                                    <span class="flag-icon flag-icon-@country.Iata.ToLower()"></span>
                                    <a href="/@country.Name" class="card-link m-2">@country.Name</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                id++;
                id2++;
            }

        </div>*@

</section>

@section Scripts {
    <script>
        $(":checkbox").click(function () {
            $(".col").hide();
            $(":checkbox:checked").each(function () {
                $("." + $(this).val()).show();
            });
        });
    </script>
}