@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv

@model FreeEntry;

@{
    ViewData["Title"] = $"No Entry visa to {Model.header.CountryName}";
    ViewData["MetaDescription"] = $"List of countries with visa - free (no entry) travel to {Model.header.CountryName}. Last update {ViewBag.LastUpdates}";
    ViewData["Canonical"] = $"https://glomad.net/{Model.header.CountryName}/NoVisaEntry";
}

@await Html.PartialAsync("_Header", Model.header)

<section class="container py-3">

    @await Html.PartialAsync("_Menu", Model.header.CountryName)

    <h2 class="text-center p-4">🖐 No visa entry to @Model.header.CountryName</h2>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="cb_novisaentry" value="novisaentry" checked>
        <label class="form-check-label" for="cb_novisaentry">No visa entry</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="cb_evisa" value="evisa">
        <label class="form-check-label" for="cb_evisa">E-Visa available</label>
    </div>

    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 pt-4">
        @{int count = 0;}
        @foreach (var c in Model.countries)
        {
            if (count == 3)
            {
                <div class="col">
                    <a href="https://safetywing.com?referenceID=24744359&utm_source=24744359&utm_medium=Ambassador" rel="noopener nofollow noreferrer">
                        <div class="card bg-dark text-white border-0 rounded-5 card-cover shadow-lg" style="background-image: url('../safetywind_300.jpg');">
                            <div class="card-img-overlay text-center">
                                <h3 class="card-title shadowed mt-5 lh-1 fw-bold">Global travel medical insurance</h3>
                                <p class="m-1 badge rounded-pill bg-info text-dark">for $1.5/day!</p>
                                <p class="m-1 badge rounded-pill bg-warning text-dark">Covid-19 coverage</p>
                            </div>
                        </div>
                    </a>
                </div>
            };
            count++;
            <div class="col novisaentry @(c.EVisaAvailable ? "evisa display-none" : "")">
                @{
                    var countryImage = c.Name.ToLower();
                    var path2 = System.IO.Path.Combine(hostingEnv.WebRootPath, countryImage + ".jpg");
                    if (!System.IO.File.Exists(path2))
                    {
                        countryImage = "nocover";
                    }
                }
                <div class="card bg-dark text-white border-0 rounded-5 card-cover shadow-lg" style="background-image: url('../@(countryImage)_300.jpg');">

                    @*<img src="../@(countryImage).jpg" class="img-fluid rounded-5" srcset="../@(countryImage)_300.jpg 384w, ../@(countryImage).jpg 1920w" sizes="50vw" alt="@c.Name image">*@
                    <div class="card-img-overlay">
                        <span class="position-absolute top-0 end-0 m-2 badge rounded-pill bg-success text-white">👋 No visa entry</span>
                        @if (c.EVisaAvailable)
                        {
                            <a href="@c.EVisaUrl" rel="noopener nofollow noreferrer">
                                <span class="position-absolute top-0 start-0 m-2 badge rounded-pill bg-warning text-dark">💻 With E-Visa 👈</span>
                            </a>
                        }

                        <a class="text-white text-decoration-none" href="/@c.Name">
                            <h3 class="card-title shadowed text-center align-middle mt-5 mb-4 lh-1 fw-bold">@c.Name</h3>
                        </a>
                        <span class="position-absolute bottom-0 start-0 m-2 badge rounded-pill bg-light text-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="@c.Details">👉 Details</span>
                        @if (c.Duration > 0)
                        {
                            <span class="position-absolute bottom-0 end-0 m-2 badge rounded-pill bg-info text-dark">@c.Duration days</span>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

</section>

@section Scripts {
    <script>
        $(":checkbox").click(function () {
            $(".col").hide();
            $(":checkbox:checked").each(function () {
                $("." + $(this).val()).show();
            });
        });
    </script>
}