@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv

@using API.Helpers
@using Humanizer
@using Microsoft.AspNetCore.Http

@model VisaPage

@{
    ViewData["Title"] = $"{Model.Visa.Name} of {Model.Visa.Country.Name}";
    ViewData["MetaDescription"] = $"And about";
    ViewData["Canonical"] = $"https://glomad.net/{Model.Visa.Country.Name}/Visa/{Model.Visa.Id}";

    var header = new HeaderViewModel()
    {
        CountryName = Model.Visa.Country.Name,
        Text = "",
        VisaName = Model.Visa.Name
    };
}

@await Html.PartialAsync("_Header", header)
@await Html.PartialAsync("_Menu", Model.Visa.Country.Name)

<section class="container sectionstyle">
    <div class="p-3">
        <a href="/@Model.Visa.Country.Name">
            <div class="btn btn-secondary mb-3 position-absolute w-auto">
                Go back
            </div>
        </a>
        @if (Model.Visa.Type == 3)
        {
            <h2 class="text-center pt-5 pb-2">💳 @Model.Visa.Country.Name digital nomad visa, @Model.Visa.Name</h2>

        }
        else
        {
            <h2 class="text-center pt-5 pb-2">💳 @Model.Visa.Name visa of @Model.Visa.Country.Name</h2>
        }
               
        
        <div class="text-center">
            @if (Model.Visa.Duration > 0)
            {
                <span class="me-2 mb-2 p-2 badge text-dark rounded-pill bg-light">
                    🕜 Duration @Model.Visa.Duration days
                </span>
            }

            @if (Model.Visa.IsExtendable)
            {
                <span class="me-2 mb-2 p-2 badge text-dark rounded-pill bg-light">
                    ✨ Extendable
                </span>
            }
            <span class="me-2 mb-2 p-2 badge text-dark rounded-pill bg-light">
                🐱‍👤 For @((VisaType)Model.Visa.Type)
            </span>
        </div>

        <div class="py-3">@Html.Raw(Model.Visa.Description.AddRelAttrs())</div>

        @if(!string.IsNullOrEmpty(Model.Visa.ProgramUrl)){
            <div class="py-3">Link to program: <a href="@Model.Visa.ProgramUrl">@Model.Visa.ProgramUrl</a></div>
        }
        

    @if(Model.VisaDocs.Count > 0)
    {
        <h4 class="text-center py-3">✔ Checklist of required documents</h4>
        <div class="text-center">
                <button type="button" id="showFormReport" data-bs-toggle="modal" data-bs-target="#addReport" class="btn btn-danger mb-3 w-auto">
                Report incorrect info
            </button>
        </div>
        <div>
            <ul>
            @foreach (var item in Model.VisaDocs)
           {
               @if((DocumentType)item.DocumentType == DocumentType.HealthInsurance) 
               {
                    if(new GeoIp(Context).GetMyCountryAsync().ToString().ToLower() == "russia") {
                        <li><a rel="noopener nofollow noreferrer" target="_blank"
                       href="https://cherehapa.ru/insurance/medicine/?partnerId=2879">
                        @item.Text
                    </a></li>
                    }
                    else {
                        <li><a rel="noopener nofollow noreferrer" target="_blank" 
                            href="https://safetywing.com/?referenceID=24744359&utm_source=24744359&utm_medium=Ambassador">
                            @item.Text
                        </a></li>
                    }
               }
               else if((DocumentType)item.DocumentType == DocumentType.PlaceOfStay) {
                   <li><a rel="noopener nofollow noreferrer" target="_blank" 
                        href="https://booking.tp.st/zqey1Nwh">
                        @item.Text
                    </a></li>       
                } 
                else if ((DocumentType)item.DocumentType == DocumentType.Ticket)
                {
                    <li><a rel="noopener nofollow noreferrer" target="_blank" 
                        href="https://aviasales.tp.st/hJye4HU1">
                        @item.Text
                    </a></li>
                }
                else
                {
                    <li>@item.Text</li>
                }

            }
           </ul>
       </div>
    }

    @if (Model.Reviews.Count > 0)
    {
        <h4 class="text-center py-3">💬 Read @Model.Reviews.Count trusted reviews</h4>
    }
    else
    {
        <h4 class="text-center py-3">💬 Share your experience</h4>
    }
    <div class="text-center">
        <button type="button" id="showForm" data-bs-toggle="modal" data-bs-target="#addReview" class="btn btn-main mb-3">
            Add an anonymous review
        </button>
    </div>

    @if (Model.Reviews.Any())
    {
        <table class="table table-borderless m-0 table-autowidth">
            <tbody>
                @{
                    string simpleR = "r1";
                    string simpleT = "🤯 Complicated";
                    int simple = (int)(@Model.Reviews.Average(i => i.Simplicity)) * 100 / 5;
                    if (simple > 35 && simple < 75)
                    {
                        simpleR = "r3";
                        simpleT = "🤨 Avarage";
                    }
                    if (simple >= 75)
                    {
                        simpleR = "r5";
                        simpleT = "😎 Easy";
                    }

                    string waitR = "r1";
                    string waitT = "🐢 Very slow";
                    int wait = (int)(@Model.Reviews.Average(i => i.Waiting)) * 100 / 5;
                    if (wait > 35 && wait < 75)
                    {
                        waitR = "r3";
                        waitT = "🦘 Avarage";
                    }
                    if (wait >= 75)
                    {
                        waitR = "r5";
                        waitT = "🐎 Quick";
                    }


                    int loy = (int)(@Model.Reviews.Average(i => i.Loyalty)) * 100 / 5;
                    string loyR = "r1";
                    string loyT = "👎 Low";
                    if (loy > 35 && loy < 75)
                    {
                        loyR = "r3";
                        loyT = "👌 Avarage";
                    }
                    if (loy >= 75)
                    {
                        loyR = "r5";
                        loyT = "👋 Perfect";
                    }
                                <tr>
                                    <td>😎 Simplicity</td>
                                    <td>
                                        <div class="rating rounded">
                                            <div class="filling shadowed-l p-1 @simpleR" style="width: @simple%">
                                                @simpleT: @simple%
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>🥱 Waiting time</td>
                                    <td>
                                        <div class="rating rounded">
                                            <div class="filling shadowed-l p-1 @waitR" style="width: @wait%">
                                                @waitT: @wait%
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>🤗 Loyalty</td>
                                    <td>
                                        <div class="rating rounded">
                                            <div class="filling shadowed-l p-1 @loyR" style="width: @loy%">
                                                @loyT: @loy%
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                }
            </tbody>
        </table>

        <div class="row d-flex justify-content-center">
            @foreach (var r in Model.Reviews)
            {
                <div class="col-md-12 col-xl-6">
                    <div class="rounded-5 shadow-lg m-2" style="background-color: #f5f7fa;">
                        <div class="card-body p-5">
                            <i class="fas fa-quote-left fa-2x mb-4"></i>
                            @if (r.Pros.Length > 0)
                            {
                                <p>✅ @r.Pros</p>
                            }
                            @if (r.Cons.Length > 0)
                            {
                                <p>❌ @r.Cons</p>
                            }
                            @if (r.Text != null && r.Text.Length > 0)
                            {
                                <p>🗨 @r.Text</p>
                            }
                            <hr>
                            <div class="d-flex justify-content-between">
                                <p class="small fst-italic" style="color: #6c757d;"> - @r.Date.Humanize()</p>
                                <p class="mb-0"><span class="badge rounded-pill" style="background-color: rgba(0,0,0, 0.2);">@r.Likes</span> <span>👍</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    </div>
</section>

<div class="modal fade" id="addReview" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Write an anonymous review about your experience with Thailand. How is it? What should people know about?</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row form-floating mb-3">
                        <div class="col-6">
                            <select id="embassy" class="form-select">
                                <option value="" disabled>Choose embassy...</option>
                                @foreach (var e in Model.Embassies)
                                {
                                    <option value="@e.Id">@e.Country, @e.City</option>
                                }
                                <option value="-1">Other embassy</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <select class="form-select" id="visa">
                                <option value="" disabled>Choose visa name</option>
                                @foreach (var v in Model.Visas)
                                {
                                    <option value="@v.Id">@v.VisaName</option>
                                }
                                <option value="-1">Other visa type</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-4 col-form-label">Simplicity</label>
                        <div class="col-sm-8">
                            <div id="starsSimplicity" class="stars" style="--s:40px">
                                <input type="radio" name="simplicity" value="1" />
                                <input type="radio" name="simplicity" value="2" />
                                <input type="radio" name="simplicity" value="3" />
                                <input type="radio" name="simplicity" value="4" />
                                <input type="radio" name="simplicity" value="5" />
                                <i></i>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-4 col-form-label">Processing time</label>
                        <div class="col-sm-8">
                            <div id="starsWaiting" class="stars" style="--s:40px">
                                <input type="radio" name="waiting" value="1" />
                                <input type="radio" name="waiting" value="2" />
                                <input type="radio" name="waiting" value="3" />
                                <input type="radio" name="waiting" value="4" />
                                <input type="radio" name="waiting" value="5" />
                                <i></i>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-4 col-form-label">Loyalty</label>
                        <div class="col-sm-8">
                            <div id="starsLoyalty" class="stars" style="--s:40px">
                                <input type="radio" name="loyalty" value="1" />
                                <input type="radio" name="loyalty" value="2" />
                                <input type="radio" name="loyalty" value="3" />
                                <input type="radio" name="loyalty" value="4" />
                                <input type="radio" name="loyalty" value="5" />
                                <i></i>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="gotVisa" checked>
                        <label class="form-check-label" for="gotVisa">
                            I've obtained the visa!
                        </label>
                    </div>

                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="text" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">How was it? What would you share with other?</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Leave a comment here" id="proc" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">What advantages would you like to note? What did you like?</label>
                    </div>

                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="cons" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">What were the challenges? What to pay attention to?</label>
                    </div>
                </form>
                <div class="modal-footer">
                    <span class="lead" id="status"></span>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="ReviewSubmit()">Send</button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addReport" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">If you find an incorrect data please let me know 🙏</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="textReport" style="height: 200px"></textarea>
                    </div>
                </form>
                <div class="modal-footer">
                    <span class="lead" id="statusReport"></span>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="ReportSubmit()">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $("#updatedate").html("⏱ Updated " + moment($("#updatedate").attr('data-utcdate'), "YYYYMMDDHHmmss").fromNow());

            //set active tab
            var hash = window.location.hash;
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');
            if (hash != '') {
                $('.nav-pills a[href="#' + hash + '"]').tab('show');
            }

            // Change hash for page-reload
            $('.nav-pills a').click(function (e) {
                $(this).tab('show');
                window.location.hash = this.hash;
            });
        });

        function ReportSubmit() {
            var report = new Object();
            report.Text = $('#textReport').val();
            report.Url = window.location.href;


            //console.log("review", review);
            $.ajax({
                type: 'POST',
                url: "/Country/CreateVisaReport",
                data: JSON.stringify(report),
                dataType: 'html',
                contentType: "application/json"
            })
                .done(function (response) {
                    $("#addReport #statusReport").text("🤗 Thanks so much for contributing, I saved your report! It will take few hours to update the visa and people will be able to read it!")
                })
                .fail(function (response) {
                    $("#addReport #statusReport").text("😥 Something went wrong. Pleace check the fields and try again")
                });
        }

        function ReviewSubmit() {
            var review = new Object();
            review.VisaId = $('#visa').val();
            review.EmbassyId = $('#embassy').val();
            review.Loyalty = $('input[name=loyalty]:checked', '#starsLoyalty').val();
            review.Simplicity = $('input[name=simplicity]:checked', '#starsSimplicity').val();
            review.Waiting = $('input[name=waiting]:checked', '#starsWaiting').val();
            review.Pros = $('#proc').val();
            review.Cons = $('#cons').val();
            review.Text = $('#text').val();
            review.IsObtained = $('#gotVisa').is(":checked");


            //console.log("review", review);
            $.ajax({
                type: 'POST',
                url: "/Country/CreateReview",
                data: JSON.stringify(review),
                dataType: 'html',
                contentType: "application/json"
            })
                .done(function (response) {
                    $("#addReview #status").text("🤗 Thanks so much for contributing, I saved your review! It will take few hours to update the visa and embassy page and show your review everywhere and people will be able to read it!")
                })
                .fail(function (response) {
                    $("#addReview #status").text("😥 Something went wrong. Pleace check the fields and try again")
                });
        }

    </script>
}