@using System.Globalization;
@model PassportViewModel

@{
    ViewData["Title"] = $"{Model.Country.Name} passport ranking in {DateTime.Now.ToString("MMMM", CultureInfo.InvariantCulture)} of {DateTime.Now.Year}.";
    ViewData["MetaDescription"] = $"Passport holders of {Model.Country.Name} can visit {Model.CountryFreeEntry.Count} visa free countries. {Model.Country.Name} citezens can apply visa online for {Model.CountryEvisa.Count} countries. For {250 - Model.CountryEvisa.Count - Model.CountryFreeEntry.Count} countries {Model.Country.Name} citezens need to apply for a visa in advance. Visa requirements for {Model.Country.Name} citizens in {DateTime.Now.ToString("MMMM", CultureInfo.InvariantCulture)} of {DateTime.Now.Year}.";
    ViewData["Canonical"] = $"https://glomad.net/passport/{Model.Country.Name}";
}

@await Html.PartialAsync("_Header", Model.Header)

<section class="container sectionstyle">


    <div class="row p-4">
        <div class="row">
            <div class="col-md-8 text-break">
                <h2 class="text-center p-4">
                    There are @Model.CountryFreeEntry.Count visa free countries for @Model.Country.Name passport holders
                </h2>

                <div class="row">

                    <h4 id="noentry">👋 Visa free countries list for @Model.Country.Name passport holders (@Model.CountryFreeEntry.Count)</h4>
                    <ul class="list-unstyled pt-2 card-columns">
                        @foreach (var e in Model.CountryFreeEntry)
                        {
                            <li class="mb-2">
                                <span class="flag-icon flag-icon-@e.Iata.ToLower() flag-icon"></span>
                                <a href="/@e.Name">@e.Name</a>
                            </li>
                        }
                    </ul>
                    <p>
                        For visa-free travels, two essential things are a must: a valid passport (typically valid for at least six months beyond your departure date) and travel health insurance, as mandated by the country you plan to visit.
                    </p>


                    <h4 id="evisa">💻 e-Visa countries for @Model.Country.Name passport holders (@Model.CountryEvisa.Count)</h4>
                    <ul class="list-unstyled pt-2 card-columns">
                        @foreach (var e in Model.CountryEvisa)
                        {
                            <li class="mb-2">
                                <span class="flag-icon flag-icon-@e.Iata.ToLower() flag-icon"></span>
                                <a href="/@e.Name">@e.Name</a>
                            </li>
                        }
                    </ul>

                    @if (Model.PopularCountries?.Count > 0)
                    {
                        int i = 0;

                        <h4 id="popular">🔥 Best countries to travel for @Model.Header.CountryName citizens (@Model.PopularCountries.Count)</h4>
                        <div class="accordion" id="accordion">
                            @foreach (var c in Model.PopularCountries)
                            {
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="header-@i">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@i" aria-expanded="false" aria-controls="collapse-@i">
                                            <span class="me-2 flag-icon flag-icon-@c.Iata.ToLower() flag-icon"></span> @c.Name
                                        </button>
                                    </h2>
                                    <div id="collapse-@i" class="accordion-collapse collapse" aria-labelledby="header-@i" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            @Html.Raw(c.Reason)
                                        </div>
                                    </div>
                                </div>

                                i = i + 1;
                            }                            
                        </div>

                        @*<ul class="list-unstyled pt-2 card-columns">
                            @foreach (var c in Model.PopularCountries)
                            {
                                <li class="mb-2">
                                    <span class="flag-icon flag-icon-@c.Iata.ToLower() flag-icon-squared"></span>
                                    <a href="/@c.Name">@c.Name</a>
                                </li>
                            }
                        </ul>*@
                    }                    

                </div>
                
            </div>

            <div class="col-md-4 p-4">

                <div class="position-sticky" style="top: 2rem;">

                    <h4>Navigation</h4>
                    <ol class="list-unstyled">
                        <li class="pb-2"><a href="#noentry">No entry visa countries (@Model.CountryFreeEntry.Count)</a></li>
                        <li class="pb-2"><a href="#evisa">Countries with E-visa (@Model.CountryEvisa.Count)</a></li>
                        @if (Model.PopularCountries?.Count > 0)
                        {
                            <li class="pb-2"><a href="#popular">Top popular countries for citizens of @Model.Header.CountryName (@Model.PopularCountries.Count)</a></li>
                        }
                        
                    </ol>


                    @await Html.PartialAsync("_SubscribeUpdates")                    

                    <div class="bg-light rounded-booking mb-3 mt-1">
                        <a href="https://safetywing.com?referenceID=24744359&utm_source=24744359&utm_medium=Ambassador" rel="noopener nofollow noreferrer">
                            <div class="card bg-dark text-white border-0 card-cover" style="background-image: url('../safetywind_300.jpg');">
                                <div class="card-img-overlay text-center">
                                    <h3 class="card-title shadowed mt-5 lh-1 fw-bold">Global travel medical insurance</h3>
                                    <p class="m-1 badge rounded-pill bg-info text-dark">for $1.5/day!</p>
                                    <p class="m-1 badge rounded-pill bg-warning text-dark">Covid-19 coverage</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</section>


