@page "/"
@using Glomad.net.Data;
@inject HttpClient Http
@*Hero block*@
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            @*<iframe width="700" height="500" loading="lazy" src="https://www.youtube.com/embed/aMaG09wcQdE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@

            <form class="p-4 p-md-5 border rounded-3 bg-light">
                <div class="row g-3">

                    <div class="col-12">
                        <label for="citizenship" class="form-label">Citizenship </label>
                        <input type="text" class="form-control" list="countries" @bind-value="@searchTerm" />
                        <datalist id="countries">
                            @foreach (var c in countries)
                            {
                                <option>@c</option>
                            }
                        </datalist>

                        @*<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>*@
                    </div>

                    <div class="col-sm-6">
                        <label for="route" class="form-label">Route duration <span class="text-muted">(Optional)</span></label>
                        <select class="form-select" id="route" required="">
                            <option value="">Choose...</option>
                            <option>Long (180+ days)</option>
                            <option>Short (up to 90 days)</option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label for="route" class="form-label">Climate <span class="text-muted">(Optional)</span></label>
                        <select class="form-select" id="route" required="">
                            <option value="">Choose...</option>
                            <option>Cold</option>
                            <option>Hot</option>
                            <option>Mixed seasons</option>
                        </select>
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Simple visa
                        </label>
                    </div>

                    <button class="w-100 btn btn-lg btn-primary" type="button" @onclick="@SearchIssues">Search</button>
                    @*<input type="button" value="Search"  />*@
                    @*<hr class="my-4">
                        <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>*@
                </div>
            </form>

        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Glomad.net</h1>
            <p class="lead">
                We collect and constantly update country data in order to offer the most comfy and exciting routes for global nomads.
                Check out what's available now and join our community.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                @*<button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>*@
            </div>
        </div>
    </div>
</div>




@if (routes == null)
{
    <p><em>Loading...</em></p>
}
else
{

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (Route route in routes)
        {
            @foreach (Country c in route.Countries)
            {
                <div class="col">
                    <div class="card border-0 bg-dark text-white">
                        <img src="/images/@c.Image" class="card-img rounded-4" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title">@c.Name</h5>
                            @foreach(Tag tag in c.Tags)
                            {
                                <span class="badge @tag.Style">@tag.Title</span>
                            }
                            <h5 class="card-title card-title position-absolute bottom-0">Tickets from ...</h5>
                        </div>
                    </div>
                </div>

            }
        }
    </div>
</div>
}

@code {
    //private WeatherForecast[] forecasts;
    private List<Route> routes;
    private string[] countries;
    private string searchTerm;

    protected override void OnInitialized()
    {
        var c = new Country();
        countries = c.GetCountries();
    }

    async Task SearchIssues()
    {
        var ss = searchTerm;
        routes = new PreparedRoutes().GetRoutes();
    }
}
